{
  "openapi": "3.0.0",
  "info": {
    "title": "Entrata APIs",
    "description": "The Entrata API retrieves property data for marketing, leasing, residents, and more. Our API is organized around RPC protocols, and authenticates users by API key. Additionally, users can only access the API when companies explicitly provide access per user.\n\n### Time Zones\nPlease note that unless stated otherwise, all dates and times used in the API are assumed to be in Mountain Time (MST or MDT).\n\n### Languages\nThe `Accept-Language` request header parameter can be used to request that the values returned in the response be translated into the language and locale that is desired, provided that the language is active and enabled for the client. Possible values are:\n- English: en-US, en-CA, en-GB, en-IE\n- Spanish: es-MX, es-PE, es-US, es-ES, es-CL  \n- Hindi: hi-IN\n- Chinese: zh-CN\n- French: fr-FR\n\n### Throttling\nTo maintain a reliable API, Entrata implements rate limits, which restrict the number of API calls you can make within a minute, an hour, and a day. Each API service has its own set of limits, which are detailed in its response headers. Before building your integration, please familiarize yourself with these limits to avoid issues as you scale your usage with more properties or larger clients.\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://apis.entrata.com/ext/orgs",
      "description": "US Server"
    },
    {
      "url": "https://apis.entrata.global/ext/orgs",
      "description": "EU Server"
    }
  ],
  "security": [
    {
      "apiKeyAuth": {}
    }
  ],
  "paths": {
    "/{orgs}/v1/status": {
      "post": {
        "tags": [
          "status"
        ],
        "summary": "API Health check",
        "parameters": [
          {
            "name": "orgs",
            "in": "path",
            "description": "Client subdomain.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "This API will specify the API health status whether it is running or not.",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "auth",
                  "method"
                ],
                "type": "object",
                "properties": {
                  "auth": {
                    "required": [
                      "type"
                    ],
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "apikey"
                        ]
                      }
                    }
                  },
                  "requestId": {
                    "type": "string",
                    "description": "an arbitary value to relate with response."
                  },
                  "method": {
                    "required": [
                      "name"
                    ],
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "enum": [
                          "getStatus"
                        ]
                      },
                      "version": {
                        "type": "string",
                        "enum": [
                          "r1"
                        ]
                      }
                    }
                  }
                }
              },
              "examples": {
                "getStatus": {
                  "$ref": "#/components/examples/getStatusRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/APIHealthSuccess"
          },
          "400": {
            "$ref": "#/components/responses/GeneralFailure"
          }
        },
        "x-moar-primitive-count": 4,
        "x-moar-complexity-skipped": false
      }
    },
    "/{orgs}/v1/applications": {
      "post": {
        "tags": [
          "applications"
        ],
        "summary": "Applications",
        "parameters": [
          {
            "name": "orgs",
            "in": "path",
            "description": "Client subdomain.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Application related APIs",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "required": [
                        "auth",
                        "method"
                      ],
                      "type": "object",
                      "properties": {
                        "auth": {
                          "required": [
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "apikey"
                              ]
                            }
                          }
                        },
                        "requestId": {
                          "type": "string",
                          "description": "an arbitary value to relate with response."
                        },
                        "method": {
                          "required": [
                            "name"
                          ],
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "enum": [
                                "getCompanyApplications"
                              ]
                            },
                            "version": {
                              "type": "string",
                              "enum": [
                                "r1"
                              ]
                            },
                            "params": {
                              "type": "object",
                              "properties": {
                                "propertyId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 123456,
                                  "description": "This is a required field. This field accepts single value. Property Id"
                                }
                              },
                              "required": [
                                "propertyId"
                              ]
                            }
                          }
                        }
                      }
                    },
                    {
                      "required": [
                        "auth",
                        "method"
                      ],
                      "type": "object",
                      "properties": {
                        "auth": {
                          "required": [
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "apikey"
                              ]
                            }
                          }
                        },
                        "requestId": {
                          "type": "string",
                          "description": "an arbitary value to relate with response."
                        },
                        "method": {
                          "required": [
                            "name"
                          ],
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "enum": [
                                "sendApplicantGeneralDetails"
                              ]
                            },
                            "version": {
                              "type": "string",
                              "enum": [
                                "r1"
                              ]
                            },
                            "params": {
                              "type": "object",
                              "properties": {
                                "applicationId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 123456,
                                  "description": "This is a required field. This field accepts single value."
                                },
                                "propertyId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 123456,
                                  "description": "This is a required field. This field accepts single value."
                                },
                                "applicantId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 123456,
                                  "description": "This is a required field. This field accepts single value."
                                },
                                "id": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 123456,
                                  "description": "This is a required field. This field accepts single value."
                                },
                                "isTrue": {
                                  "type": "integer",
                                  "enum": [
                                    0,
                                    1
                                  ]
                                },
                                "comments": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "Test Comments",
                                  "description": "This is a required field. This field accepts single value."
                                }
                              },
                              "required": [
                                "applicationId",
                                "propertyId",
                                "applicantId",
                                "id"
                              ]
                            }
                          }
                        }
                      }
                    },
                    {
                      "required": [
                        "auth",
                        "method"
                      ],
                      "type": "object",
                      "properties": {
                        "auth": {
                          "required": [
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "apikey"
                              ]
                            }
                          }
                        },
                        "requestId": {
                          "type": "string",
                          "description": "an arbitary value to relate with response."
                        },
                        "method": {
                          "required": [
                            "name"
                          ],
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "enum": [
                                "sendApplication"
                              ]
                            },
                            "version": {
                              "type": "string",
                              "enum": [
                                "r1"
                              ]
                            },
                            "params": {
                              "type": "object",
                              "properties": {
                                "propertyId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 123456,
                                  "description": "This is a required field. This field accepts single value."
                                },
                                "originatingLeadSourceId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 123456,
                                  "description": "This is a required field. This field accepts single value."
                                },
                                "leasingAgentId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 445655,
                                  "description": "This is a required field. This field accepts single value."
                                },
                                "unitSpaceId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 1234,
                                  "description": "This is a required field. This field accepts single value."
                                },
                                "moveInDate": {
                                  "type": "string",
                                  "format": "date",
                                  "example": "MM/DD/YYYY",
                                  "description": "This is a required field. This field accepts single value."
                                },
                                "floorplanId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 205814,
                                  "description": "This is a required field. This field accepts single value."
                                },
                                "leaseTermId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 1862,
                                  "description": "This is a required field. This field accepts single value."
                                },
                                "applicationStatusId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 3,
                                  "description": "This is an optional field. This field accepts single value. Acceptable values are 3 (COMPLETED ) & 4 (APPLICATION_APPROVED )"
                                }
                              },
                              "required": [
                                "propertyId",
                                "originatingLeadSourceId"
                              ]
                            }
                          }
                        }
                      }
                    },
                    {
                      "required": [
                        "auth",
                        "method"
                      ],
                      "type": "object",
                      "properties": {
                        "auth": {
                          "required": [
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "apikey"
                              ]
                            }
                          }
                        },
                        "requestId": {
                          "type": "string",
                          "description": "an arbitary value to relate with response."
                        },
                        "method": {
                          "required": [
                            "name"
                          ],
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "enum": [
                                "sendApplicationAddOns"
                              ]
                            },
                            "version": {
                              "type": "string",
                              "enum": [
                                "r1"
                              ]
                            }
                          }
                        }
                      }
                    },
                    {
                      "required": [
                        "auth",
                        "method"
                      ],
                      "type": "object",
                      "properties": {
                        "auth": {
                          "required": [
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "apikey"
                              ]
                            }
                          }
                        },
                        "requestId": {
                          "type": "string",
                          "description": "an arbitary value to relate with response."
                        },
                        "method": {
                          "required": [
                            "name"
                          ],
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "enum": [
                                "sendApplicationEmployers"
                              ]
                            },
                            "version": {
                              "type": "string",
                              "enum": [
                                "r1"
                              ]
                            },
                            "params": {
                              "type": "object",
                              "properties": {
                                "applicationId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 123456,
                                  "description": "  This is a required field. This field accepts single value. Required parameter, accepts integer value."
                                },
                                "propertyId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 123456,
                                  "description": "This is a required field. This field accepts single value. Required parameter, accepts integer value."
                                },
                                "id": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 123456,
                                  "description": "This is an optional field. This field accepts single value. Conditionally Required parameter. If provided, it will update the empl oyer record on provided application. otherwise insert the employer record."
                                },
                                "incomeTypeId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 1,
                                  "description": "This is an optional field. This field accepts single value. Conditionally Required parameter. If \"id\" is not provided, this parame ter is required."
                                },
                                "customerId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 17378378,
                                  "description": "This is an optional field. This field accepts single value. Conditionally Required parameter. If \"id\" is not provided, this parame ter is required."
                                },
                                "frequencyId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 4,
                                  "description": "This is an optional field. This field accepts single value. Optional parameter, accepts integer value. If provided should be a val id frequency range which are: 3 [ weekly ], 4 [ Monthly ] and 6 [ Yearly ]"
                                },
                                "position": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "Technical Manager",
                                  "description": "This is an optional field. This field accepts single value. Optional parameter, accepts string value"
                                },
                                "institutionName": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "Entrata Inc.",
                                  "description": "This is an optional field. This field accepts single value. Optional parameter, accepts string value"
                                },
                                "institutionPhoneNumber": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "7544898565",
                                  "description": "This is an optional field. This field accepts single value. Optional parameter, accept string value. If provided, should be valid phone number."
                                },
                                "institutionStreetLine1": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "address line 1",
                                  "description": "This is an optional field. This field accepts single value. Optional parameter, accepts string value"
                                },
                                "institutionStreetLine2": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "address line 2",
                                  "description": "This is an optional field. This field accepts single value. Optional parameter, accepts string value"
                                },
                                "institutionStreetLine3": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "address line 3",
                                  "description": "This is an optional field. This field accepts single value. Optional parameter, accepts string value"
                                },
                                "institutionCity": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "City",
                                  "description": "This is an optional field. This field accepts single value. Optional parameter, accepts string value"
                                },
                                "institutionStateCode": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "XYZ",
                                  "description": "This is an optional field. This field accepts single value. Optional parameter, accepts string value"
                                },
                                "institutionProvince": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "XYZ",
                                  "description": "This is an optional field. This field accepts single value. Optional parameter, accepts string value"
                                },
                                "institutionPostalCode": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "11111",
                                  "description": "This is an optional field. This field accepts single value. Optional parameter, accepts string value"
                                },
                                "institutionCountryCode": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "ABC",
                                  "description": "This is an optional field. This field accepts single value. Optional parameter, accepts string value"
                                },
                                "amount": {
                                  "type": "integer",
                                  "format": "float",
                                  "example": 5000,
                                  "description": "This is an optional field. This field accepts single value. Conditionally Required parameter, accepts float value with two decimal points. If Id is not provided, this becomes required."
                                },
                                "contactName": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "People Ops team",
                                  "description": "This is an optional field. This field accepts single value. Optional parameter, accepts string value"
                                },
                                "contactPhone": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "9954809807",
                                  "description": "This is an optional field. This field accepts single value. Optional parameter, accept string value. If provided, should be valid phone number."
                                },
                                "contactEmail": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "hr@example.lcl",
                                  "description": "This is an optional field. This field accepts single value. Optional parameter, accepts string value"
                                },
                                "incomeEffectiveDate": {
                                  "type": "string",
                                  "format": "date",
                                  "example": "MM/DD/YYYY",
                                  "description": "This is an optional field. This field accepts single value. Optional parameter, accept date in MM/DD/YYYY or YYYY-MM-DD format."
                                },
                                "dateStarted": {
                                  "type": "string",
                                  "format": "date",
                                  "example": "MM/DD/YYYY",
                                  "description": "This is an optional field. This field accepts single value. Optional parameter, accept date in MM/DD/YYYY or YYYY-MM-DD format."
                                },
                                "dateEnded": {
                                  "type": "string",
                                  "format": "date",
                                  "example": "MM/DD/YYYY",
                                  "description": "This is an optional field. This field accepts single value. Optional parameter, accept date in MM/DD/YYYY or YYYY-MM-DD format. if provided, then dateStarted and dateEnded should be in valid range. da teStarted should be less than dateEnded."
                                },
                                "isDelete": {
                                  "type": "integer",
                                  "format": "integer",
                                  "example": "1",
                                  "description": "This is an optional field. This field accepts single value. Optional parameter, accept either 1 or 0. if provided value as 1 then id is required and the employer record will be removed from applicatio n."
                                }
                              },
                              "required": [
                                "applicationId",
                                "propertyId"
                              ]
                            }
                          }
                        }
                      }
                    },
                    {
                      "required": [
                        "auth",
                        "method"
                      ],
                      "type": "object",
                      "properties": {
                        "auth": {
                          "required": [
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "apikey"
                              ]
                            }
                          }
                        },
                        "requestId": {
                          "type": "string",
                          "description": "an arbitary value to relate with response."
                        },
                        "method": {
                          "required": [
                            "name"
                          ],
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "enum": [
                                "sendApplicationPets"
                              ]
                            },
                            "version": {
                              "type": "string",
                              "enum": [
                                "r1"
                              ]
                            },
                            "params": {
                              "type": "object",
                              "properties": {
                                "applicationId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 123456,
                                  "description": "  This is a required field. This field accepts single value. Required parameter, accepts integer value."
                                },
                                "propertyId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 123456,
                                  "description": "This is a required field. This field accepts single value. Required parameter, accepts integer value."
                                },
                                "id": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 123,
                                  "description": "This is an optional field. This field accepts single value. Optional parameter, accepts integer value. If provided we will update the pet record"
                                },
                                "customerId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 123456,
                                  "description": "This is an optional field. This field accepts single value. Conditionally required. Accepts integer value. If id is not provided, this parameter is required"
                                },
                                "typeId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 17378378,
                                  "description": "This is a required field. This field accepts single value."
                                },
                                "name": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "ABC",
                                  "description": "This is an optional field. This field accepts single value."
                                },
                                "breed": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "ABC",
                                  "description": "This is an optional field. This field accepts single value."
                                },
                                "gender": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "F",
                                  "description": "This is an optional field. This field accepts single value."
                                },
                                "color": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "White",
                                  "description": "This is an optional field. This field accepts single value."
                                },
                                "weight": {
                                  "type": "integer",
                                  "format": "float",
                                  "example": "30.99",
                                  "description": "This is an optional field. This field accepts single value."
                                },
                                "age": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": "12",
                                  "description": "This is an optional field. This field accepts single value."
                                },
                                "description": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "Test Description.",
                                  "description": "This is an optional field. This field accepts single value."
                                },
                                "licenseCity": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "XYZ",
                                  "description": "This is an optional field. This field accepts single value."
                                },
                                "licenseNumber": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "156",
                                  "description": "This is an optional field. This field accepts single value."
                                },
                                "isAssistanceAnimal": {
                                  "type": "integer",
                                  "format": "integer",
                                  "enum": [
                                    0,
                                    1
                                  ],
                                  "description": "This is an optional field. This field accepts single value."
                                },
                                "isPetSpayedOrNeutered": {
                                  "type": "integer",
                                  "format": "integer",
                                  "enum": [
                                    0,
                                    1
                                  ],
                                  "description": "This is an optional field. This field accepts single value."
                                },
                                "petSpayedOrNeuteredDate": {
                                  "type": "string",
                                  "format": "date",
                                  "example": "MM/DD/YYYY",
                                  "description": "This is an optional field. This field accepts single value."
                                },
                                "isHouseBroken": {
                                  "type": "integer",
                                  "format": "integer",
                                  "enum": [
                                    0,
                                    1
                                  ],
                                  "description": "This is an optional field. This field accepts single value."
                                },
                                "specialProvisions": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "Test",
                                  "description": "This is an optional field. This field accepts single value."
                                },
                                "isDelete": {
                                  "type": "integer",
                                  "format": "integer",
                                  "enum": [
                                    0,
                                    1
                                  ],
                                  "description": "This is an optional field. This field accepts single value."
                                }
                              },
                              "required": [
                                "applicationId",
                                "propertyId"
                              ]
                            }
                          }
                        }
                      }
                    },
                    {
                      "required": [
                        "auth",
                        "method"
                      ],
                      "type": "object",
                      "properties": {
                        "auth": {
                          "required": [
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "apikey"
                              ]
                            }
                          }
                        },
                        "requestId": {
                          "type": "string",
                          "description": "an arbitary value to relate with response."
                        },
                        "method": {
                          "required": [
                            "name"
                          ],
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "version": {
                              "type": "string",
                              "enum": [
                                "r1"
                              ]
                            },
                            "params": {
                              "type": "object",
                              "properties": {
                                "vehicleTypeId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 2,
                                  "description": "This is a required field. This field accepts single value. Indicates the type of vehicle. Possible values are 1, 2, or 3 where 1 = Primary, 2 = Secondary, and 3 = Other."
                                }
                              },
                              "required": [
                                "vehicleTypeId"
                              ]
                            }
                          }
                        }
                      }
                    },
                    {
                      "required": [
                        "auth",
                        "method"
                      ],
                      "type": "object",
                      "properties": {
                        "auth": {
                          "required": [
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "apikey"
                              ]
                            }
                          }
                        },
                        "requestId": {
                          "type": "string",
                          "description": "an arbitary value to relate with response."
                        },
                        "method": {
                          "required": [
                            "name"
                          ],
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "version": {
                              "type": "string",
                              "enum": [
                                "r1"
                              ]
                            },
                            "params": {
                              "type": "object",
                              "properties": {
                                "applicationId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 123456,
                                  "description": "This is a required field. This field accepts single value. This node accepts application id which needs to be updated."
                                },
                                "propertyId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 123456,
                                  "description": "This is a required field. This field accepts single value. This node accepts the property id."
                                },
                                "applicationStatusId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 3,
                                  "description": "This is an optional field. This field accepts single value. This node accept the status id."
                                },
                                "floorplanId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 1235,
                                  "description": "This is an optional field. This field accepts single value. This node accept the associated floorplan id or the floorplan which ne eds to be associated with the application."
                                },
                                "unitSpaceId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 1442,
                                  "description": "This is an optional field. This field accepts single value. This node accept the associated unit space id or the unit space which needs to be associated with the application."
                                },
                                "leaseTermId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 4,
                                  "description": "This is an optional field. This field accepts single value. This node accepts the lease length."
                                },
                                "leasingAgentId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 147896,
                                  "description": "This is an optional field. This field accepts single value. This node accepts the associated leasing agent or the leasing agent wh ich needs to be updated."
                                },
                                "moveInDate": {
                                  "type": "string",
                                  "format": "date",
                                  "example": "MM/DD/YYYY",
                                  "description": "This is an optional field. This field accepts single value. This node accepts the move-in date. In ISO format as well."
                                },
                                "originatingLeadSourceId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 8521,
                                  "description": "This is an optional field. This field accepts single value. This node accepts the lead source id."
                                },
                                "id": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 7893,
                                  "description": "  This is an optional field. This field accepts single value. This node accepts the applicants id."
                                },
                                "firstName": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "ABC",
                                  "description": "  This is an optional field. This field accepts single value. This node accepts the applicants first name."
                                },
                                "lastName": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "ABC",
                                  "description": "  This is an optional field. This field accepts single value. This node accepts applicants last name."
                                },
                                "maternalName": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "ABC",
                                  "description": "This is an optional field. This field accepts single value. This node accepts applicants maternal name."
                                },
                                "preferredName": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "ABC",
                                  "description": "  This is an optional field. This field accepts single value. This node accepts applicants preferred name."
                                },
                                "birthDate": {
                                  "type": "string",
                                  "format": "date",
                                  "example": "MM/DD/YYYY",
                                  "description": "This is an optional field. This field accepts single value. This node accepts applicants birth date. Supports ISO format."
                                },
                                "customerRelationshipTypeId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": "1264",
                                  "description": "This is an optional field. This field accepts single value. This node accepts customer relationship id."
                                },
                                "email": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "test@gmail.com",
                                  "description": "  This is an optional field. This field accepts single value. This node accepts the applicants email."
                                },
                                "phoneNumberTypeId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": "3",
                                  "description": "This is an optional field. This field accepts single value. This node accepts applicants phone number type id. This is condition al mandatory node, if phoneNumber is provided then phoneNumberTypeId is required."
                                },
                                "phoneNumber": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": "(123)-111-1111",
                                  "description": "This is an optional field. This field accepts single value. This node accepts applicants phone number. This is conditional manda tory node, if value for phoneNumberTypeId is provided then this node is required."
                                },
                                "addressTypeId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": "11",
                                  "description": "This is an optional field. This field accepts single value. This node accepts address type id."
                                },
                                "addressLine1": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "addressLine1",
                                  "description": "This is an optional field. This field accepts single value."
                                },
                                "addressLine2": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "addressLine2",
                                  "description": "This is an optional field. This field accepts single value."
                                },
                                "addressLine3": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "addressLine3",
                                  "description": "This is an optional field. This field accepts single value."
                                },
                                "city": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "City",
                                  "description": "This is an optional field. This field accepts single value."
                                },
                                "postalCode": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": "12345",
                                  "description": "This is an optional field. This field accepts single value."
                                },
                                "stateCode": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "CA",
                                  "description": "This is an optional field. This field accepts single value."
                                }
                              },
                              "required": [
                                "applicationId",
                                "propertyId"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              },
              "examples": {
                "getCompanyApplications": {
                  "$ref": "#/components/examples/getCompanyApplicationsRequest"
                },
                "sendApplicantGeneralDetails": {
                  "$ref": "#/components/examples/sendApplicantGeneralDetailsRequest"
                },
                "sendApplication": {
                  "$ref": "#/components/examples/sendApplicationRequest"
                },
                "sendApplicationAddOns": {
                  "$ref": "#/components/examples/sendApplicationAddOnsRequest"
                },
                "sendApplicationEmployers": {
                  "$ref": "#/components/examples/sendApplicationEmployersRequest"
                },
                "sendApplicationPets": {
                  "$ref": "#/components/examples/sendApplicationPetsRequest"
                },
                "sendApplicationVehicles": {
                  "$ref": "#/components/examples/sendApplicationVehiclesRequest"
                },
                "updateApplication": {
                  "$ref": "#/components/examples/updateApplicationRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ApplicationsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/GeneralFailure"
          }
        },
        "x-moar-primitive-count": 119,
        "x-moar-complexity-skipped": false
      }
    },
    "/{orgs}/v1/appinfo": {
      "post": {
        "tags": [
          "appinfo"
        ],
        "summary": "App info related APIs",
        "description": "Please use `rsync` as the orgs value when calling the getAccessibleClients API.",
        "parameters": [
          {
            "name": "orgs",
            "in": "path",
            "description": "Client subdomain.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "required": [
                        "auth",
                        "method"
                      ],
                      "type": "object",
                      "properties": {
                        "auth": {
                          "required": [
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "apikey"
                              ]
                            }
                          }
                        },
                        "requestId": {
                          "type": "string",
                          "description": "an arbitary value to relate with response."
                        },
                        "method": {
                          "required": [
                            "name"
                          ],
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "enum": [
                                "getAccessibleClients"
                              ]
                            },
                            "version": {
                              "type": "string",
                              "enum": [
                                "r1"
                              ]
                            }
                          }
                        }
                      }
                    },
                    {
                      "required": [
                        "auth",
                        "method"
                      ],
                      "type": "object",
                      "properties": {
                        "auth": {
                          "required": [
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "apikey"
                              ]
                            }
                          }
                        },
                        "requestId": {
                          "type": "string",
                          "description": "an arbitary value to relate with response."
                        },
                        "method": {
                          "required": [
                            "name"
                          ],
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "enum": [
                                "getAccessibleServices"
                              ]
                            },
                            "version": {
                              "type": "string",
                              "enum": [
                                "r1"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              },
              "examples": {
                "getAccessibleClients": {
                  "$ref": "#/components/examples/getAccessibleClientsRequest"
                },
                "getAccessibleServices": {
                  "$ref": "#/components/examples/getAccessibleServicesRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AppinfoSuccess"
          },
          "400": {
            "$ref": "#/components/responses/GeneralFailure"
          }
        },
        "x-moar-primitive-count": 8,
        "x-moar-complexity-skipped": false
      }
    },
    "/{orgs}/v1/arcodes": {
      "post": {
        "tags": [
          "arcodes"
        ],
        "summary": "Charge codes",
        "description": "Returns all AR codes for a specified management company.",
        "parameters": [
          {
            "name": "orgs",
            "in": "path",
            "description": "Client subdomain.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Returns all AR codes for a specified management company.",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "auth",
                  "method"
                ],
                "type": "object",
                "properties": {
                  "auth": {
                    "required": [
                      "type"
                    ],
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "apikey"
                        ]
                      }
                    }
                  },
                  "requestId": {
                    "type": "string",
                    "description": "an arbitary value to relate with response."
                  },
                  "method": {
                    "required": [
                      "name"
                    ],
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "enum": [
                          "getArCodes"
                        ]
                      },
                      "version": {
                        "type": "string",
                        "enum": [
                          "r1"
                        ]
                      },
                      "params": {
                        "type": "object",
                        "properties": {
                          "propertyId": {
                            "type": "integer",
                            "format": "int64",
                            "example": 123456,
                            "description": "This is an optional field. This field accepts single value. Provide a valid propertyid."
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "getArCodes": {
                  "$ref": "#/components/examples/getArCodesRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ArcodesSuccess"
          },
          "400": {
            "$ref": "#/components/responses/GeneralFailure"
          }
        },
        "x-moar-primitive-count": 5,
        "x-moar-complexity-skipped": false
      }
    },
    "/{orgs}/v1/arpayments": {
      "post": {
        "tags": [
          "arpayments"
        ],
        "summary": "arPayments",
        "parameters": [
          {
            "name": "orgs",
            "in": "path",
            "description": "Client subdomain.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Retrieves AR payments details with reference to a Payment ID and for a selected date range.",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "auth",
                  "method"
                ],
                "type": "object",
                "properties": {
                  "auth": {
                    "required": [
                      "type"
                    ],
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "apikey"
                        ]
                      }
                    }
                  },
                  "requestId": {
                    "type": "string",
                    "description": "an arbitary value to relate with response."
                  },
                  "method": {
                    "required": [
                      "name"
                    ],
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "enum": [
                          "getArPayments"
                        ]
                      },
                      "version": {
                        "type": "string",
                        "enum": [
                          "r1"
                        ]
                      },
                      "params": {
                        "type": "object",
                        "properties": {
                          "arPaymentIds": {
                            "type": "string",
                            "format": "string",
                            "example": 123456,
                            "description": "This is an optional field. This field accepts comma seperated multiple values. Comma separated ar payment ids."
                          },
                          "paymentStatusTypeIds": {
                            "type": "string",
                            "format": "string",
                            "example": 123456,
                            "description": "This is an optional field. This field accepts comma seperated multiple values. Comma separated payment status type ids."
                          },
                          "fromDate": {
                            "type": "string",
                            "format": "date",
                            "example": "MM/DD/YYYY",
                            "description": "This is an optional field. This field accepts single value. From date."
                          },
                          "toDate": {
                            "type": "string",
                            "format": "date",
                            "example": "MM/DD/YYYY",
                            "description": "This is an optional field. This field accepts single value. To date"
                          },
                          "isIncludeAllocations": {
                            "type": "integer",
                            "format": "integer",
                            "enum": [
                              0,
                              1
                            ],
                            "description": "This is an optional field. This field accepts single value. This node should include allocations details of payment"
                          }
                        },
                        "required": [
                          "applicationId",
                          "propertyId"
                        ]
                      }
                    }
                  }
                }
              },
              "examples": {
                "getArPayments": {
                  "$ref": "#/components/examples/getArPaymentsRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ArPaymentsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/GeneralFailure"
          }
        },
        "x-moar-primitive-count": 9,
        "x-moar-complexity-skipped": false
      }
    },
    "/{orgs}/v1/artransactions": {
      "post": {
        "tags": [
          "artransactions"
        ],
        "summary": "This API is to get the information of transactions and payments.",
        "description": "## Note: \n **Pagination supported APIs**: `getArInvoices`, `getLeaseArTransactions`.\n",
        "parameters": [
          {
            "name": "orgs",
            "in": "path",
            "description": "Client subdomain.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page_no",
            "description": "The page number of paginated respons.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "The number of items returned in the respnose",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 5,
              "maximum": 1000
            }
          },
          {
            "in": "header",
            "name": "X-Send-Pagination-Links",
            "description": "Send Pagination Links in Response Body.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "arTansactions related APIs",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "required": [
                        "auth",
                        "method"
                      ],
                      "type": "object",
                      "properties": {
                        "auth": {
                          "required": [
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "apikey"
                              ]
                            }
                          }
                        },
                        "requestId": {
                          "type": "string",
                          "description": "an arbitary value to relate with response."
                        },
                        "method": {
                          "required": [
                            "name"
                          ],
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "enum": [
                                "getArInvoices"
                              ]
                            },
                            "version": {
                              "type": "string",
                              "enum": [
                                "r1"
                              ]
                            },
                            "params": {
                              "type": "object",
                              "properties": {
                                "propertyId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 123456,
                                  "description": "This is a required field. This field accepts single value. propertyId"
                                },
                                "leaseIds": {
                                  "type": "string",
                                  "format": "string",
                                  "example": 123456,
                                  "description": "This is an optional field. This field accepts comma seperated multiple values. leaseIds"
                                },
                                "arInvoiceId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 123456,
                                  "description": "  This is an optional field. This field accepts single value. arInvoiceId"
                                },
                                "fromDate": {
                                  "type": "string",
                                  "format": "date",
                                  "example": "MM/DD/YYYY",
                                  "description": "This is an optional field. This field accepts single value. From date."
                                },
                                "toDate": {
                                  "type": "string",
                                  "format": "date",
                                  "example": "MM/DD/YYYY",
                                  "description": "This is an optional field. This field accepts single value. To date"
                                }
                              },
                              "required": [
                                "propertyId"
                              ]
                            }
                          }
                        }
                      }
                    },
                    {
                      "required": [
                        "auth",
                        "method"
                      ],
                      "type": "object",
                      "properties": {
                        "auth": {
                          "required": [
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "apikey"
                              ]
                            }
                          }
                        },
                        "requestId": {
                          "type": "string",
                          "description": "an arbitary value to relate with response."
                        },
                        "method": {
                          "required": [
                            "name"
                          ],
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "enum": [
                                "getLeaseArTransactions"
                              ]
                            },
                            "version": {
                              "type": "string",
                              "enum": [
                                "r1"
                              ]
                            },
                            "params": {
                              "type": "object",
                              "properties": {
                                "propertyId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 123456,
                                  "description": "This is a required field. This field accepts single value. PropertyId"
                                },
                                "leaseIds": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": "1234,5678",
                                  "description": "This is an optional field. This field accepts comma seperated multiple values. leaseIds"
                                },
                                "leaseStatusTypeIds": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": "3,4",
                                  "description": "This is an optional field. This field accepts comma seperated multiple values. If provided API returns data as per leaseStatusTypeIds, otherwise if N ot passed or passed as NULL/blank, returns all leases except canceled."
                                },
                                "transactionTypeIds": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": "12345,4567",
                                  "description": "This is an optional field. This field accepts comma seperated multiple values. Type of transactions on lease. Possible values 1-12"
                                },
                                "arCodeIds": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": "12345,4567",
                                  "description": "This is an optional field. This field accepts comma seperated multiple values. arCodeIds"
                                },
                                "showFullLedger": {
                                  "type": "integer",
                                  "format": "integer",
                                  "enum": [
                                    0,
                                    1
                                  ],
                                  "description": "This is an optional field. This field accepts single value. This is parameter allows you to pull full ledger history. By default i t only returns open ledger items."
                                },
                                "includeOtherIncomeLeases": {
                                  "type": "integer",
                                  "format": "integer",
                                  "enum": [
                                    0,
                                    1
                                  ],
                                  "description": "This is an optional field. This field accepts single value. This parameter is used to get the Other income leases in the response."
                                },
                                "includeReversals": {
                                  "type": "integer",
                                  "format": "integer",
                                  "enum": [
                                    0,
                                    1
                                  ],
                                  "description": "This is an optional field. This field accepts single value. This parameter return reversal transactions in API response. Also to i nclude the reversal transaction in response \"showFullLedger\" must be t rue(1)."
                                },
                                "transactionFromDate": {
                                  "type": "string",
                                  "format": "date",
                                  "example": "MM/DD/YYYY",
                                  "description": "This is an optional field. This field accepts single value. This will return transactions starting from the provided date."
                                },
                                "transactionToDate": {
                                  "type": "string",
                                  "format": "date",
                                  "example": "MM/DD/YYYY",
                                  "description": "This is an optional field. This field accepts single value. This will return transaction till the provided date."
                                },
                                "ledgerIds": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": "12345,4567",
                                  "description": "This is an optional field. This field accepts comma seperated multiple values. These ids we will get from getFinancialPickList."
                                },
                                "residentFriendlyMode": {
                                  "type": "integer",
                                  "format": "integer",
                                  "enum": [
                                    0,
                                    1
                                  ],
                                  "description": "This is an optional field. This field accepts single value."
                                }
                              },
                              "required": [
                                "propertyId"
                              ]
                            }
                          }
                        }
                      }
                    },
                    {
                      "required": [
                        "auth",
                        "method"
                      ],
                      "type": "object",
                      "properties": {
                        "auth": {
                          "required": [
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "apikey"
                              ]
                            }
                          }
                        },
                        "requestId": {
                          "type": "string",
                          "description": "an arbitary value to relate with response."
                        },
                        "method": {
                          "required": [
                            "name"
                          ],
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "enum": [
                                "getMitsLeaseArTransactions"
                              ]
                            },
                            "version": {
                              "type": "string",
                              "enum": [
                                "r1"
                              ]
                            },
                            "params": {
                              "type": "object",
                              "properties": {
                                "propertyId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 123456,
                                  "description": "This is a required field. This field accepts single value. PropertyId"
                                },
                                "leaseId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": "1234",
                                  "description": "This is an optional field. This field accepts single value. leaseId"
                                },
                                "leaseStatusTypeIds": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": "3,4",
                                  "description": "This is an optional field. This field accepts comma seperated multiple values. If provided API returns data as per leaseStatusTypeIds, otherwise if N ot passed or passed as NULL/blank, returns all leases except canceled."
                                },
                                "arCodeIds": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "1234,5678",
                                  "description": "This is an optional field. This field accepts comma seperated multiple values. arCodeIds"
                                },
                                "showFullLedger": {
                                  "type": "integer",
                                  "format": "integer",
                                  "enum": [
                                    0,
                                    1
                                  ],
                                  "description": "This is an optional field. This field accepts single value. This is parameter allows you to pull full ledger history. By default i t only returns open ledger items."
                                },
                                "includeReversals": {
                                  "type": "integer",
                                  "format": "integer",
                                  "enum": [
                                    0,
                                    1
                                  ],
                                  "description": "This is an optional field. This field accepts single value. This parameter return reversal transactions in API response. Also to i nclude the reversal transaction in response \"showFullLedger\" must be true(1)."
                                },
                                "residentFriendlyMode": {
                                  "type": "integer",
                                  "format": "integer",
                                  "enum": [
                                    0,
                                    1
                                  ],
                                  "description": "This is an optional field. This field accepts single value. This is parameter allows you to pull ledger history as displayed under resident portal"
                                },
                                "includeOtherIncomeLeases": {
                                  "type": "integer",
                                  "format": "integer",
                                  "enum": [
                                    0,
                                    1
                                  ],
                                  "description": "This is an optional field. This field accepts single value. This parameter is used to get the Other income leases in the response."
                                },
                                "includePaymentsOnly": {
                                  "type": "integer",
                                  "format": "integer",
                                  "enum": [
                                    0,
                                    1
                                  ],
                                  "description": "This is an optional field. This field accepts single value. This parameter is used to retrieve payments transactions in the response"
                                },
                                "transactionFromDate": {
                                  "type": "string",
                                  "format": "date",
                                  "example": "MM/DD/YYYY",
                                  "description": "This is an optional field. This field accepts single value. transactionFromDate"
                                },
                                "transactionToDate": {
                                  "type": "string",
                                  "format": "date",
                                  "example": "MM/DD/YYYY",
                                  "description": "This is an optional field. This field accepts single value. transactionToDate"
                                }
                              },
                              "required": [
                                "propertyId"
                              ]
                            }
                          }
                        }
                      }
                    },
                    {
                      "required": [
                        "auth",
                        "method"
                      ],
                      "type": "object",
                      "properties": {
                        "auth": {
                          "required": [
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "apikey"
                              ]
                            }
                          }
                        },
                        "requestId": {
                          "type": "string",
                          "description": "an arbitary value to relate with response."
                        },
                        "method": {
                          "required": [
                            "name"
                          ],
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "enum": [
                                "sendLeaseArTransactionReversals"
                              ]
                            },
                            "version": {
                              "type": "string",
                              "enum": [
                                "r1"
                              ]
                            },
                            "params": {
                              "type": "object",
                              "properties": {
                                "TransactionId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 1234,
                                  "description": "This is a required field. This field accepts single value. This ID represents the \"reference_id\" provided in the sendLeaseArTrans actions response or the \"TransactionID\" provided in getMitsLeaseArTran sactions."
                                },
                                "TransactionAmount": {
                                  "type": "integer",
                                  "format": "float",
                                  "example": "100.50",
                                  "description": "This is a required field. This field accepts single value. The amount for which the original charge was posted. If the Original c harge was a negative charge, a credit, please send this amount as nega tive as well."
                                },
                                "PropertyId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 123456,
                                  "description": "This is an optional field. This field accepts single value."
                                },
                                "ReverseDate": {
                                  "type": "string",
                                  "format": "date",
                                  "example": "MM/DD/YYYY",
                                  "description": "This is an optional field. This field accepts single value. This is an optional parameter. If a date is sent in this parameter, we will set this value as postDate for the reversed transactions."
                                },
                                "Description": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "Test Description",
                                  "description": "This is an optional field. This field accepts single value. This is an optional parameter. We highly recommend that you provide a detailed description of the reason for which the charged is reversed."
                                }
                              },
                              "required": [
                                "TransactionId",
                                "TransactionAmount"
                              ]
                            }
                          }
                        }
                      }
                    },
                    {
                      "required": [
                        "auth",
                        "method"
                      ],
                      "type": "object",
                      "properties": {
                        "auth": {
                          "required": [
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "apikey"
                              ]
                            }
                          }
                        },
                        "requestId": {
                          "type": "string",
                          "description": "an arbitary value to relate with response."
                        },
                        "method": {
                          "required": [
                            "name"
                          ],
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "enum": [
                                "sendLeaseArTransactions"
                              ]
                            },
                            "version": {
                              "type": "string",
                              "enum": [
                                "r1"
                              ]
                            },
                            "params": {
                              "type": "object",
                              "properties": {
                                "transactionId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 1234,
                                  "description": "This is a required field. This field accepts single value. Unique Transaction ID of client system"
                                },
                                "leaseId": {
                                  "type": "integer",
                                  "format": "integer",
                                  "example": "2342",
                                  "description": "This is a required field. This field accepts single value. Lease ID"
                                },
                                "arCodeId": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 11,
                                  "description": "This is a required field. This field accepts single value. Ar Code ID"
                                },
                                "transactionAmount": {
                                  "type": "integer",
                                  "format": "float",
                                  "example": "1000.00",
                                  "description": "This is a required field. This field accepts single value. Transaction Amount"
                                },
                                "transactionDate": {
                                  "type": "string",
                                  "format": "date",
                                  "example": "MM/DD/YYYY",
                                  "description": "This is a required field. This field accepts single value. transactionDate"
                                },
                                "arPostMonth": {
                                  "type": "string",
                                  "format": "string",
                                  "example": "MM/YYYY",
                                  "description": "This is an optional field. This field accepts single value. Charge Posting Month"
                                }
                              },
                              "required": [
[...]
