{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0.0",
    "title": "Ashby API",
    "description": "The public API for accessing resources in your Ashby instance.",
    "contact": {
      "name": "Ashby Support",
      "url": "https://app.ashbyhq.com/support",
      "email": "support@ashbyhq.com"
    }
  },
  "servers": [
    {
      "url": "https://api.ashbyhq.com"
    }
  ],
  "tags": [
    {
      "name": "ashby",
      "description": "The Ashby API"
    }
  ],
  "paths": {
    "/apiKey.info": {
      "post": {
        "summary": "apiKey.info",
        "description": "Retrieve information about the API key being used to make the request.\n\n**Requires the [`apiKeysRead`](authentication#permissions-apikeyinfo) permission.**\n",
        "operationId": "apiKeyInfo",
        "tags": [
          "API Key"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses for the apiKey.info endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success response",
                      "allOf": [
                        {
                          "type": "object",
                          "description": "Schema reference broken: #/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0",
                          "additionalProperties": true,
                          "x-moar-broken-reference": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "results": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string",
                                  "description": "The name of the API key.",
                                  "example": "Custom Job Board API key"
                                },
                                "createdAt": {
                                  "type": "object",
                                  "description": "Schema reference broken: #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt",
                                  "additionalProperties": true,
                                  "x-moar-broken-reference": "#/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt"
                                },
                                "scopes": {
                                  "type": "array",
                                  "description": "List of permission scopes that this API key is authorized for.",
                                  "items": {
                                    "type": "string"
                                  },
                                  "example": [
                                    "jobs:read",
                                    "candidates:read"
                                  ]
                                }
                              }
                            }
                          },
                          "required": [
                            "results"
                          ]
                        }
                      ]
                    },
                    {
                      "type": "object",
                      "description": "Schema reference broken: #/paths/~1report.generate/post/responses/429/content/application~1json/schema",
                      "additionalProperties": true,
                      "x-moar-broken-reference": "#/paths/~1report.generate/post/responses/429/content/application~1json/schema"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "x-moar-primitive-count": 0,
        "x-moar-complexity-skipped": false
      }
    },
    "/application.changeSource": {
      "post": {
        "summary": "application.changeSource",
        "operationId": "applicationChangeSource",
        "description": "Change the source of an application.\n\n**Requires the [`candidatesWrite`](authentication#permissions-applicationchangesource) permission.**\n",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "applicationId": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The id of the application to update the source of"
                      }
                    ]
                  },
                  "sourceId": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The source to set on the application. Pass null to unset an application's source."
                      }
                    ]
                  }
                },
                "required": [
                  "applicationId",
                  "sourceId"
                ],
                "example": {
                  "applicationId": "3ae2b801-19f6-41ef-ad28-214bd731948f",
                  "sourceId": "2c6991c5-c9e2-4af8-879e-29c5a9d26509"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses from the application.changeSource endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success response",
                      "allOf": [
                        {
                          "type": "object",
                          "description": "Schema reference broken: #/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0",
                          "additionalProperties": true,
                          "x-moar-broken-reference": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "results": {
                              "type": "object",
                              "description": "Schema reference broken: #/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application",
                              "additionalProperties": true,
                              "x-moar-broken-reference": "#/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application"
                            }
                          },
                          "required": [
                            "results"
                          ]
                        }
                      ]
                    },
                    {
                      "type": "object",
                      "description": "Schema reference broken: #/paths/~1report.generate/post/responses/429/content/application~1json/schema",
                      "additionalProperties": true,
                      "x-moar-broken-reference": "#/paths/~1report.generate/post/responses/429/content/application~1json/schema"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-moar-primitive-count": 0,
        "x-moar-complexity-skipped": false
      }
    },
    "/application.changeStage": {
      "post": {
        "summary": "application.changeStage",
        "operationId": "applicationChangeStage",
        "description": "Change the stage of an application\n\n**Requires the [`candidatesWrite`](authentication#permissions-applicationchangestage) permission.**\n",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "applicationId": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The id of the application to update the stage of"
                      }
                    ]
                  },
                  "interviewStageId": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The interview stage to move the application to."
                      }
                    ]
                  },
                  "archiveReasonId": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "Archive Reason to set when moving to an Interview Stage with type: `Archived`. \nNote: You must pass this parameter when moving to an Interview Stage with type: `Archived`\n"
                      }
                    ]
                  },
                  "archiveEmail": {
                    "type": "object",
                    "properties": {
                      "communicationTemplateId": {
                        "allOf": [
                          {
                            "type": "object",
                            "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                            "additionalProperties": true,
                            "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                          },
                          {
                            "description": "The id of the communication template to use for the email.\nNote: This communication template's intendedTypes must include: `email`.\n"
                          }
                        ]
                      },
                      "sendAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The date and time to send the email as an ISO 8601 date and time string, e.g. `2025-02-24T08:27:01Z`.\nIf omitted, the email will be scheduled for the following morning at 9:32am in your default timezone.\nIf the time is in the past, the email will be sent immediately.\nNote: If a timezone is not specified, timestamps will be interpreted in UTC, regardless of your timezone setting.\n"
                      }
                    },
                    "description": "Email to send to the candidate when moving to an Interview Stage with type: `Archived`.\nNote: If application is already archived, the email will not be sent.\nNote: If email send fails, the application stage will not be updated. If this is the case, you can retry the request without this parameter.\nNote: You may only pass this parameter if the application is moving to an Interview Stage with type: `Archived`.\n",
                    "required": [
                      "communicationTemplateId"
                    ]
                  }
                },
                "required": [
                  "applicationId",
                  "interviewStageId"
                ],
                "example": {
                  "applicationId": "3ae2b801-19f6-41ef-ad28-214bd731948f",
                  "interviewStageId": "2c6991c5-c9e2-4af8-879e-29c5a9d26509"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses from the application.changeStage endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success response",
                      "allOf": [
                        {
                          "type": "object",
                          "description": "Schema reference broken: #/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0",
                          "additionalProperties": true,
                          "x-moar-broken-reference": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "results": {
                              "type": "object",
                              "description": "Schema reference broken: #/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application",
                              "additionalProperties": true,
                              "x-moar-broken-reference": "#/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application"
                            }
                          },
                          "required": [
                            "results"
                          ]
                        }
                      ]
                    },
                    {
                      "allOf": [
                        {
                          "type": "object",
                          "description": "Schema reference broken: #/paths/~1report.generate/post/responses/429/content/application~1json/schema",
                          "additionalProperties": true,
                          "x-moar-broken-reference": "#/paths/~1report.generate/post/responses/429/content/application~1json/schema"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "errors": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "invalid_input",
                                  "application_not_found",
                                  "interview_plan_not_found",
                                  "interview_stage_not_found",
                                  "archive_reason_not_found",
                                  "communication_template_not_found",
                                  "communication_template_not_allowed"
                                ]
                              },
                              "description": "| Error Code | Description |\n|------------|-------------|\n| `invalid_input` | A parameter is the wrong type |\n| `invalid_input` | Archive fields are not allowed for non-archive stages |\n| `invalid_input` | Archive reason ID is required for archive stages |\n| `application_not_found` |  |\n| `interview_plan_not_found` |  |\n| `interview_stage_not_found` |  |\n| `archive_reason_not_found` |  |\n| `communication_template_not_found` |  |\n| `communication_template_not_allowed` | Template contains unresolvable substitution tokens |\n| `communication_template_not_allowed` | Template intended types does not include 'email' |\n| `communication_template_not_allowed` | [Less common] Template is archived |\n| `communication_template_not_allowed` | [Less common] Template is a one-off template |\n"
                            }
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "x-moar-primitive-count": 1,
        "x-moar-complexity-skipped": false
      }
    },
    "/application.create": {
      "post": {
        "summary": "application.create",
        "operationId": "applicationCreate",
        "description": "Consider a candidate for a job (eg when sourcing a candidate for a job posting).\n\nIf you're submitting an application as a job board, use the [`applicationForm.submit`](ref:applicationformsubmit) endpoint instead. See [Creating a custom careers page](https://developers.ashbyhq.com/docs/creating-a-custom-careers-page) for details.\n\n**Requires the [`candidatesWrite`](authentication#permissions-applicationcreate) permission.**\n\nTo set values for custom fields on Applications, use the [`customFields.setValue`](ref:customfieldsetvalue) endpoint.\n",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "candidateId": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The id of the candidate to consider for a job"
                      }
                    ]
                  },
                  "jobId": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The id of the job to consider the candidate for"
                      }
                    ]
                  },
                  "interviewPlanId": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The id of the interview plan to place the application in. If none is provided, the default interview plan is used.\n"
                      }
                    ]
                  },
                  "interviewStageId": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The interview stage of the interview plan (either default or provided) to place the application in. \nIf none is provided, the application is placed in the first \"Lead\" stage. \nYou can also supply the special string \"FirstPreInterviewScreen\", which will choose the first pre-interview-screen stage on the specified job's interview plan.\n"
                      }
                    ]
                  },
                  "sourceId": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The source to set on the application being created."
                      }
                    ]
                  },
                  "creditedToUserId": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The id of the user the application will be credited to."
                      }
                    ]
                  },
                  "createdAt": {
                    "allOf": [
                      {
                        "description": "An ISO date string to set the application's `createdAt` timestamp. When this value isn't provided, the `createdAt` timestamp defaults to the time the call was made.\n"
                      },
                      {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt"
                      }
                    ]
                  },
                  "applicationHistory": {
                    "allOf": [
                      {
                        "type": "array",
                        "description": "An array of objects representing the application history.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "stageId": {
                              "allOf": [
                                {
                                  "type": "object",
                                  "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                                  "additionalProperties": true,
                                  "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                                },
                                {
                                  "description": "The ID of the interview stage for this history event. This stage must belong to the interview plan associated with the application."
                                }
                              ]
                            },
                            "stageNumber": {
                              "allOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "description": "The sort order of this event. 0 is the first, the highest number will be the current stage."
                                }
                              ]
                            },
                            "enteredStageAt": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "format": "date-time",
                                  "example": "2022-07-21T17:32:28Z"
                                },
                                {
                                  "description": "An ISO date string representing the time the application entered this stage."
                                }
                              ]
                            },
                            "archiveReasonId": {
                              "allOf": [
                                {
                                  "type": "object",
                                  "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                                  "additionalProperties": true,
                                  "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                                },
                                {
                                  "description": "The ID of the archive reason. If the interview stage is an `Archived` stage type, this field is required."
                                }
                              ]
                            }
                          },
                          "required": [
                            "stageId",
                            "stageNumber",
                            "enteredStageAt"
                          ]
                        }
                      },
                      {
                        "description": "An array of objects representing the application history.\n"
                      }
                    ]
                  }
                },
                "required": [
                  "candidateId",
                  "jobId"
                ],
                "example": {
                  "candidateId": "3ae2b801-19f6-41ef-ad28-214bd731948f",
                  "jobId": "2c6991c5-c9e2-4af8-879e-29c5a9d26509"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses from the application.create endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success response",
                      "allOf": [
                        {
                          "type": "object",
                          "description": "Schema reference broken: #/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0",
                          "additionalProperties": true,
                          "x-moar-broken-reference": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "results": {
                              "type": "object",
                              "description": "Schema reference broken: #/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application",
                              "additionalProperties": true,
                              "x-moar-broken-reference": "#/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application"
                            }
                          },
                          "required": [
                            "results"
                          ]
                        }
                      ]
                    },
                    {
                      "type": "object",
                      "description": "Schema reference broken: #/paths/~1report.generate/post/responses/429/content/application~1json/schema",
                      "additionalProperties": true,
                      "x-moar-broken-reference": "#/paths/~1report.generate/post/responses/429/content/application~1json/schema"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-moar-primitive-count": 2,
        "x-moar-complexity-skipped": false
      }
    },
    "/application.info": {
      "post": {
        "summary": "application.info",
        "operationId": "applicationInfo",
        "description": "Fetch application details by application id or by submitted form instance id (which is return by the `applicationForm.submit` endpoint). If both applicationId and submittedFormInstanceId are provided, we will lookup by applicationId.\n\n**Requires the [`candidatesRead`](authentication#permissions-applicationinfo) permission.**\n",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "applicationId": {
                        "allOf": [
                          {
                            "description": "The id of the application to fetch."
                          },
                          {
                            "type": "object",
                            "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                            "additionalProperties": true,
                            "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                          }
                        ]
                      },
                      "expand": {
                        "type": "array",
                        "description": "Choose to expand the result and include additional data for related objects. \n",
                        "items": {
                          "type": "string",
                          "enum": [
                            "openings",
                            "applicationFormSubmissions",
                            "referrals"
                          ]
                        }
                      }
                    },
                    "required": [
                      "applicationId"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "submittedFormInstanceId": {
                        "allOf": [
                          {
                            "description": "The id of the application's submitted form instance to fetch."
                          },
                          {
                            "type": "object",
                            "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                            "additionalProperties": true,
                            "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                          }
                        ]
                      },
                      "expand": {
                        "type": "array",
                        "description": "Choose to expand the result and include additional data for related objects. \n",
                        "items": {
                          "type": "string",
                          "enum": [
                            "openings",
                            "applicationFormSubmissions"
                          ]
                        }
                      }
                    },
                    "required": [
                      "submittedFormInstanceId"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses from the application.info endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success response",
                      "allOf": [
                        {
                          "type": "object",
                          "description": "Schema reference broken: #/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0",
                          "additionalProperties": true,
                          "x-moar-broken-reference": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "results": {
                              "allOf": [
                                {
                                  "type": "object",
                                  "description": "Schema reference broken: #/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application",
                                  "additionalProperties": true,
                                  "x-moar-broken-reference": "#/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application"
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "openings": {
                                      "description": "The openings array will only be included if the `openings` expand parameter is included when the request is made.",
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "description": "Schema reference broken: #/webhooks/openingCreate/post/requestBody/content/application~1json/schema/properties/data/properties/opening",
                                        "additionalProperties": true,
                                        "x-moar-broken-reference": "#/webhooks/openingCreate/post/requestBody/content/application~1json/schema/properties/data/properties/opening"
                                      }
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "applicationHistory": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "description": "Schema reference broken: #/paths/~1application.listHistory/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results/items",
                                        "additionalProperties": true,
                                        "x-moar-broken-reference": "#/paths/~1application.listHistory/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results/items"
                                      }
                                    },
                                    "applicationFormSubmissions": {
                                      "type": "array",
                                      "description": "Application form submissions. These match the response from the `applicationForm.submit` endpoint. Use of the expand parameter is required to fetch.",
                                      "items": {
                                        "type": "object",
                                        "description": "Schema reference broken: #/paths/~1applicationForm.submit/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results/properties/submittedFormInstance",
                                        "additionalProperties": true,
                                        "x-moar-broken-reference": "#/paths/~1applicationForm.submit/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results/properties/submittedFormInstance"
                                      }
                                    },
                                    "referrals": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "user": {
                                            "type": "object",
                                            "description": "Schema reference broken: #/paths/~1user.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results",
                                            "additionalProperties": true,
                                            "x-moar-broken-reference": "#/paths/~1user.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results"
                                          },
                                          "referredAt": {
                                            "type": "object",
                                            "description": "Schema reference broken: #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt",
                                            "additionalProperties": true,
                                            "x-moar-broken-reference": "#/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              ]
                            }
                          },
                          "required": [
                            "results"
                          ]
                        }
                      ]
                    },
                    {
                      "type": "object",
                      "description": "Schema reference broken: #/paths/~1report.generate/post/responses/429/content/application~1json/schema",
                      "additionalProperties": true,
                      "x-moar-broken-reference": "#/paths/~1report.generate/post/responses/429/content/application~1json/schema"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-moar-primitive-count": 2,
        "x-moar-complexity-skipped": false
      }
    },
    "/application.list": {
      "post": {
        "summary": "application.list",
        "operationId": "applicationList",
        "description": "Gets all applications in the organization.\n\n**Requires the [`candidatesRead`](authentication#permissions-applicationlist) permission.**\n",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "createdAfter": {
                        "type": "integer",
                        "format": "int64",
                        "description": "The API will return data after this date, which is the time since the unix epoch in milliseconds"
                      },
                      "cursor": {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1project.list/post/requestBody/content/application~1json/schema/properties/cursor",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1project.list/post/requestBody/content/application~1json/schema/properties/cursor"
                      },
                      "syncToken": {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1project.list/post/requestBody/content/application~1json/schema/properties/syncToken",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1project.list/post/requestBody/content/application~1json/schema/properties/syncToken"
                      },
                      "limit": {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1project.list/post/requestBody/content/application~1json/schema/properties/limit",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1project.list/post/requestBody/content/application~1json/schema/properties/limit"
                      }
                    },
                    "example": {
                      "createdAfter": 1659979196538,
                      "cursor": "qA",
                      "syncToken": "6W05prn4d",
                      "limit": 25
                    }
                  },
                  {
                    "properties": {
                      "status": {
                        "type": "string",
                        "enum": [
                          "Hired",
                          "Archived",
                          "Active",
                          "Lead"
                        ]
                      },
                      "jobId": {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      "expand": {
                        "type": "array",
                        "description": "Choose to expand the result and include additional data for related objects. \n",
                        "items": {
                          "type": "string",
                          "enum": [
                            "openings"
                          ]
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses from the application.list endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "allOf": [
                        {
                          "type": "object",
                          "description": "Schema reference broken: #/paths/~1job.list/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0",
                          "additionalProperties": true,
                          "x-moar-broken-reference": "#/paths/~1job.list/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "properties": {
                            "results": {
                              "type": "array",
                              "items": {
                                "allOf": [
                                  {
                                    "type": "object",
                                    "description": "Schema reference broken: #/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application",
                                    "additionalProperties": true,
                                    "x-moar-broken-reference": "#/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application"
                                  },
                                  {
                                    "type": "object",
                                    "description": "Schema reference broken: #/paths/~1application.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results/allOf/1",
                                    "additionalProperties": true,
                                    "x-moar-broken-reference": "#/paths/~1application.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results/allOf/1"
                                  }
                                ]
                              }
                            }
                          }
                        }
                      ],
                      "required": [
                        "results"
                      ]
                    },
                    {
                      "type": "object",
                      "description": "Schema reference broken: #/paths/~1report.generate/post/responses/429/content/application~1json/schema",
                      "additionalProperties": true,
                      "x-moar-broken-reference": "#/paths/~1report.generate/post/responses/429/content/application~1json/schema"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-moar-primitive-count": 3,
        "x-moar-complexity-skipped": false
      }
    },
    "/application.transfer": {
      "post": {
        "summary": "application.transfer",
        "operationId": "applicationTransfer",
        "description": "Transfer an application to a different job.\n\n**Requires the [`candidatesWrite`](authentication#permissions-applicationtransfer) permission.**\n",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "applicationId": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The id of the application to transfer."
                      }
                    ]
                  },
                  "jobId": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The id of the job to transfer the application to."
                      }
                    ]
                  },
                  "interviewPlanId": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The id of the interview plan to transfer the application to. \n"
                      }
                    ]
                  },
                  "interviewStageId": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The interview stage of the interview plan to transfer the application to. \n"
                      }
                    ]
                  },
                  "startAutomaticActivities": {
                    "allOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "description": "Whether to start any automatic activities set on the target interview stage. \nIf not provided, the default value is `true`.\n"
                      },
                      {
                        "default": true
                      }
                    ]
                  }
                },
                "required": [
                  "applicationId",
                  "jobId",
                  "interviewPlanId",
                  "interviewStageId"
                ],
                "example": {
                  "applicationId": "3ae2b801-19f6-41ef-ad28-214bd731948f",
                  "jobId": "2c6991c5-c9e2-4af8-879e-29c5a9d26509",
                  "interviewPlanId": "af94aedd-b743-462c-ab22-9e7e356c11b4",
                  "interviewStageId": "5eb15197-8664-48fd-99cf-fbdc9d25149d"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses from the application.transfer endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success response",
                      "allOf": [
                        {
                          "type": "object",
                          "description": "Schema reference broken: #/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0",
                          "additionalProperties": true,
                          "x-moar-broken-reference": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "results": {
                              "type": "object",
                              "description": "Schema reference broken: #/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application",
                              "additionalProperties": true,
                              "x-moar-broken-reference": "#/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application"
                            }
                          },
                          "required": [
                            "results"
                          ]
                        }
                      ]
                    },
                    {
                      "type": "object",
                      "description": "Schema reference broken: #/paths/~1report.generate/post/responses/429/content/application~1json/schema",
                      "additionalProperties": true,
                      "x-moar-broken-reference": "#/paths/~1report.generate/post/responses/429/content/application~1json/schema"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-moar-primitive-count": 1,
        "x-moar-complexity-skipped": false
      }
    },
    "/application.update": {
      "post": {
        "summary": "application.update",
        "operationId": "applicationUpdate",
        "description": "Update an application\n\n**Requires the [`candidatesWrite`](authentication#permissions-applicationupdate) permission.**\n\nTo set values for custom fields on Applications, use the [`customFields.setValue`](ref:customfieldsetvalue) endpoint.\n",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "applicationId": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The id of the application to update"
                      }
                    ]
                  },
                  "sourceId": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The source to set on the application being created."
                      }
                    ]
                  },
                  "creditedToUserId": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The id of the user the application will be credited to."
                      }
                    ]
                  },
                  "createdAt": {
                    "allOf": [
                      {
                        "description": "An ISO date string to set the application's `createdAt` timestamp. When this value isn't provided, the `createdAt` timestamp defaults to the time the call was made.\n"
                      },
                      {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt"
                      }
                    ]
                  },
                  "sendNotifications": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether or not users who are subscribed to the application should be notified that application was updated. Default is true."
                  }
                },
                "required": [
                  "applicationId"
                ],
                "example": {
                  "applicationId": "3ae2b801-19f6-41ef-ad28-214bd731948f",
                  "createdAt": "2021-01-01T00:00:00Z",
                  "creditedToUserId": "3ae2b801-19f6-41ef-ad28-214bd731948f",
                  "sourceId": "3ae2b801-19f6-41ef-ad28-214bd731948f"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses from the application.update endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success response",
                      "allOf": [
                        {
                          "type": "object",
                          "description": "Schema reference broken: #/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0",
                          "additionalProperties": true,
                          "x-moar-broken-reference": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "results": {
                              "type": "object",
                              "description": "Schema reference broken: #/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application",
                              "additionalProperties": true,
                              "x-moar-broken-reference": "#/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application"
                            }
                          },
                          "required": [
                            "results"
                          ]
                        }
                      ]
                    },
                    {
                      "type": "object",
                      "description": "Schema reference broken: #/paths/~1report.generate/post/responses/429/content/application~1json/schema",
                      "additionalProperties": true,
                      "x-moar-broken-reference": "#/paths/~1report.generate/post/responses/429/content/application~1json/schema"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-moar-primitive-count": 1,
        "x-moar-complexity-skipped": false
      }
    },
    "/application.updateHistory": {
      "post": {
        "summary": "application.updateHistory",
        "operationId": "applicationUpdateHistory",
        "description": "Update the history of an application. This endpoint is used to update the history of an application, such as setting the entered stage time or deleting a history event.\n\n**Requires the [`candidatesWrite`](authentication#permissions-applicationupdatehistory) permission and the `Allow updating application history?` setting found in your admin API key permissions configuration.**\n",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "applicationId": {
                        "allOf": [
                          {
                            "description": "The id of the application to fetch."
                          },
                          {
                            "type": "object",
                            "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                            "additionalProperties": true,
                            "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                          }
                        ]
                      },
                      "applicationHistory": {
                        "type": "array",
                        "description": "The updated array of application history events. This array should contain all history events for the application, not just the events being updated.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "stageId": {
                              "type": "object",
                              "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                              "additionalProperties": true,
                              "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                            },
                            "stageNumber": {
                              "type": "integer",
                              "title": "Stage Number",
                              "description": "The order of the history event in the application's history. 0 is the first event."
                            },
                            "enteredStageAt": {
                              "type": "object",
                              "description": "Schema reference broken: #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt",
                              "additionalProperties": true,
                              "x-moar-broken-reference": "#/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt"
                            },
                            "applicationHistoryId": {
                              "type": "object",
                              "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                              "additionalProperties": true,
                              "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                            },
                            "archiveReasonId": {
                              "type": "object",
                              "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                              "additionalProperties": true,
                              "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                            }
                          },
                          "required": [
                            "stageId",
                            "stageNumber",
                            "enteredStageAt"
                          ]
                        }
                      }
                    },
                    "required": [
                      "applicationId",
                      "applicationHistory"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses from the application.updateHistory endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success response",
                      "allOf": [
                        {
                          "type": "object",
                          "description": "Schema reference broken: #/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0",
                          "additionalProperties": true,
                          "x-moar-broken-reference": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "results": {
                              "allOf": [
                                {
                                  "type": "object",
                                  "description": "Schema reference broken: #/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application",
                                  "additionalProperties": true,
                                  "x-moar-broken-reference": "#/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application"
                                },
                                {
                                  "type": "object",
                                  "description": "Schema reference broken: #/paths/~1application.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results/allOf/1",
                                  "additionalProperties": true,
                                  "x-moar-broken-reference": "#/paths/~1application.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results/allOf/1"
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "applicationHistory": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "description": "Schema reference broken: #/paths/~1application.listHistory/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results/items",
                                        "additionalProperties": true,
                                        "x-moar-broken-reference": "#/paths/~1application.listHistory/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results/items"
                                      }
                                    },
                                    "applicationFormSubmissions": {
                                      "type": "array",
                                      "description": "Application form submissions. These match the response from the `applicationForm.submit` endpoint. Use of the expand parameter is required to fetch.",
                                      "items": {
                                        "type": "object",
                                        "description": "Schema reference broken: #/paths/~1applicationForm.submit/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results/properties/submittedFormInstance",
                                        "additionalProperties": true,
                                        "x-moar-broken-reference": "#/paths/~1applicationForm.submit/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results/properties/submittedFormInstance"
                                      }
                                    },
                                    "referrals": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "user": {
                                            "type": "object",
                                            "description": "Schema reference broken: #/paths/~1user.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results",
                                            "additionalProperties": true,
                                            "x-moar-broken-reference": "#/paths/~1user.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results"
                                          },
                                          "referredAt": {
                                            "type": "object",
                                            "description": "Schema reference broken: #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt",
                                            "additionalProperties": true,
                                            "x-moar-broken-reference": "#/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              ]
                            }
                          },
                          "required": [
                            "results"
                          ]
                        }
                      ]
                    },
                    {
                      "type": "object",
                      "description": "Schema reference broken: #/paths/~1report.generate/post/responses/429/content/application~1json/schema",
                      "additionalProperties": true,
                      "x-moar-broken-reference": "#/paths/~1report.generate/post/responses/429/content/application~1json/schema"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-moar-primitive-count": 1,
        "x-moar-complexity-skipped": false
      }
    },
    "/application.listHistory": {
      "post": {
        "summary": "application.listHistory",
        "operationId": "applicationListHistory",
        "description": "Fetch a paginated list of application history items for an application.\n\n**Requires the [`candidatesRead`](authentication#permissions-applicationListHistory) permission.**\n",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "applicationId": {
                        "allOf": [
                          {
                            "description": "The id of the application to fetch."
                          },
                          {
                            "type": "object",
                            "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                            "additionalProperties": true,
                            "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                          }
                        ]
                      }
                    }
                  },
                  {
                    "type": "object",
                    "description": "Schema reference broken: #/paths/~1application.listCriteriaEvaluations/post/requestBody/content/application~1json/schema/allOf/1",
                    "additionalProperties": true,
                    "x-moar-broken-reference": "#/paths/~1application.listCriteriaEvaluations/post/requestBody/content/application~1json/schema/allOf/1"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses for the application.listHistory endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "allOf": [
                        {
                          "type": "object",
                          "description": "Schema reference broken: #/paths/~1candidate.listProjects/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0",
                          "additionalProperties": true,
                          "x-moar-broken-reference": "#/paths/~1candidate.listProjects/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "properties": {
                            "results": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "object",
                                    "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                                    "additionalProperties": true,
                                    "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                                  },
                                  "stageId": {
                                    "type": "object",
                                    "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                                    "additionalProperties": true,
                                    "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                                  },
                                  "title": {
                                    "type": "string",
                                    "title": "Title",
                                    "example": "Offer"
                                  },
                                  "enteredStageAt": {
                                    "type": "object",
                                    "description": "Schema reference broken: #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt",
                                    "additionalProperties": true,
                                    "x-moar-broken-reference": "#/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt"
                                  },
                                  "leftStageAt": {
                                    "type": "object",
                                    "description": "Schema reference broken: #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt",
                                    "additionalProperties": true,
                                    "x-moar-broken-reference": "#/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt"
                                  },
                                  "stageNumber": {
                                    "type": "integer",
                                    "title": "Stage Number",
                                    "description": "The order of the history event in the application's history. 0 is the first event."
                                  },
                                  "allowedActions": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "none",
                                        "delete",
                                        "set_entered_at"
                                      ]
                                    },
                                    "title": "Allowed Actions",
                                    "description": "Actions that can be performed on the application via `application.updateHistory`.",
                                    "example": [
                                      "delete",
                                      "set_entered_at"
                                    ]
                                  },
                                  "actorId": {
                                    "type": "object",
                                    "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                                    "additionalProperties": true,
                                    "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                                  }
                                },
                                "required": [
                                  "id",
                                  "stageId",
                                  "title",
                                  "enteredStageAt",
                                  "allowedActions",
                                  "stageNumber"
                                ]
                              }
                            }
                          }
                        }
                      ],
                      "required": [
                        "results"
                      ]
                    },
                    {
                      "type": "object",
                      "description": "Schema reference broken: #/paths/~1report.generate/post/responses/429/content/application~1json/schema",
                      "additionalProperties": true,
                      "x-moar-broken-reference": "#/paths/~1report.generate/post/responses/429/content/application~1json/schema"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-moar-primitive-count": 0,
        "x-moar-complexity-skipped": false
      }
    },
    "/application.listCriteriaEvaluations": {
      "post": {
        "summary": "application.listCriteriaEvaluations",
        "operationId": "applicationListCriteriaEvaluations",
        "description": "Fetch a paginated list of AI criteria evaluations for an application.\n\nThis endpoint returns the AI-generated criteria evaluations that assess how well a candidate meets specific job requirements. Each evaluation contains the outcome, reasoning, and other assessment details.\n\n**Requires the [`candidatesRead`](authentication#permissions-applicationListCriteriaEvaluations) permission.**\n\n**Note:** This endpoint requires the AI Application Review feature to be enabled for your organization.\n",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "applicationId": {
                        "allOf": [
                          {
                            "description": "The id of the application to fetch criteria evaluations for."
                          },
                          {
                            "type": "object",
                            "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                            "additionalProperties": true,
                            "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                          }
                        ]
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "cursor": {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1project.list/post/requestBody/content/application~1json/schema/properties/cursor",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1project.list/post/requestBody/content/application~1json/schema/properties/cursor"
                      },
                      "limit": {
                        "type": "object",
                        "description": "Schema reference broken: #/paths/~1project.list/post/requestBody/content/application~1json/schema/properties/limit",
                        "additionalProperties": true,
                        "x-moar-broken-reference": "#/paths/~1project.list/post/requestBody/content/application~1json/schema/properties/limit"
                      }
                    },
                    "example": {
                      "cursor": "qA",
                      "limit": 25
                    }
                  }
                ],
                "required": [
                  "applicationId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses for the application.listCriteriaEvaluations endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "allOf": [
                        {
                          "type": "object",
                          "description": "Schema reference broken: #/paths/~1candidate.listProjects/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0",
                          "additionalProperties": true,
                          "x-moar-broken-reference": "#/paths/~1candidate.listProjects/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "properties": {
                            "results": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "title": "Criteria Evaluation",
                                "description": "An AI-generated evaluation of how well a candidate meets a specific job criterion.",
                                "properties": {
                                  "id": {
                                    "allOf": [
                                      {
                                        "type": "object",
                                        "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                                        "additionalProperties": true,
                                        "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                                      },
                                      {
                                        "description": "The id of the criteria evaluation."
                                      }
                                    ]
                                  },
                                  "criterion": {
                                    "allOf": [
                                      {
                                        "type": "object",
                                        "title": "Criterion Version",
                                        "description": "The criterion that was evaluated, including its configuration and prompt details.",
                                        "properties": {
                                          "id": {
                                            "allOf": [
                                              {
                                                "type": "object",
                                                "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                                                "additionalProperties": true,
                                                "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                                              },
                                              {
                                                "description": "The id of the criterion version."
                                              }
                                            ]
                                          },
                                          "title": {
                                            "type": "string",
                                            "description": "The title of the criterion.",
                                            "example": "Location"
                                          },
                                          "type": {
                                            "type": "string",
                                            "description": "The type of criterion evaluation.",
                                            "enum": [
                                              "ResumePrompt",
                                              "DidAnswerApplicationFormQuestion",
                                              "SimilarityToAiGeneratedAnswer"
                                            ],
                                            "example": "ResumePrompt"
                                          },
                                          "prompt": {
                                            "type": "string",
                                            "description": "The prompt text used for AI evaluation.",
                                            "example": "Evaluate if the candidate's location aligns with the job requirements."
                                          },
                                          "applicationFormDefinitionId": {
                                            "anyOf": [
                                              {
                                                "type": "object",
                                                "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                                                "additionalProperties": true,
                                                "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ],
                                            "description": "The id of the application form definition (if applicable)."
                                          },
                                          "applicationFormFieldPath": {
                                            "type": [
                                              "string",
                                              "null"
                                            ],
                                            "description": "The path to the specific application form field (if applicable)."
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "title",
                                          "type",
                                          "prompt"
                                        ]
                                      },
                                      {
                                        "description": "The criterion that was evaluated."
                                      }
                                    ]
                                  },
                                  "status": {
                                    "type": "string",
                                    "description": "The status of the evaluation.",
                                    "enum": [
                                      "Pending",
                                      "Completed",
                                      "Failed",
                                      "Skipped"
                                    ],
                                    "example": "Completed"
                                  },
                                  "outcome": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "description": "The evaluation outcome (e.g., \"Meets\", \"Does Not Meet\").",
                                    "example": "Meets"
                                  },
                                  "reasoning": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "description": "The AI's reasoning for the evaluation outcome.",
                                    "example": "The candidate's location in San Francisco aligns well with the job's requirement for Bay Area presence."
                                  },
                                  "skipReason": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "description": "The reason why the evaluation was skipped (if status is \"Skipped\").",
                                    "example": "NoResume"
                                  },
                                  "outcomeNumber": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "description": "A numerical score representing the evaluation outcome (0.0 to 1.0).",
                                    "minimum": 0,
                                    "maximum": 1,
                                    "example": 0.85
                                  },
                                  "evaluatedAt": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "format": "date-time",
                                    "description": "The date and time when the evaluation was completed.",
                                    "example": "2024-01-15T10:30:00Z"
                                  }
                                },
                                "required": [
                                  "id",
                                  "criterion",
                                  "status"
                                ]
                              }
                            }
                          }
                        }
                      ],
                      "required": [
                        "results"
                      ]
                    },
                    {
                      "type": "object",
                      "description": "Schema reference broken: #/paths/~1report.generate/post/responses/429/content/application~1json/schema",
                      "additionalProperties": true,
                      "x-moar-broken-reference": "#/paths/~1report.generate/post/responses/429/content/application~1json/schema"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-moar-primitive-count": 0,
        "x-moar-complexity-skipped": false
      }
    },
    "/applicationFeedback.list": {
      "post": {
        "summary": "applicationFeedback.list",
        "operationId": "applicationFeedbackList",
        "description": "List all interview scorecards and feedback submissions associated with an application.\n\nEach feedback submission contains:\n- **formDefinition**: The structure of the feedback form with all available fields\n- **submittedValues**: Responses to the form fields, which depending on the form configuration can include:\n  - Text feedback (e.g., \"Candidate showed strong technical skills...\")\n  - Numerical scores (e.g., \"4\" for a 1-4 rating scale)\n  - Structured selections (e.g., \"Strong Hire\" for overall recommendation)\n- **Interview context**: Links to associated interviews, events, and the submitting user\n\n**Requires the [`candidatesRead`](authentication#permissions-applicationfeedbacklist) permission.**\n",
        "tags": [
          "Application Feedback"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "description": "Schema reference broken: #/paths/~1application.list/post/requestBody/content/application~1json/schema/allOf/0",
                    "additionalProperties": true,
                    "x-moar-broken-reference": "#/paths/~1application.list/post/requestBody/content/application~1json/schema/allOf/0"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "applicationId": {
                        "allOf": [
                          {
                            "type": "object",
                            "description": "Schema reference broken: #/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                            "additionalProperties": true,
                            "x-moar-broken-reference": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                          },
                          {
                            "description": "The id of the application you'd like to fetch feedback for"
                          }
                        ]
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses from the applicationFeedback.list endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success response",
                      "allOf": [
                        {
                          "type": "object",
                          "description": "Schema reference broken: #/paths/~1job.list/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0",
                          "additionalProperties": true,
[...]
