{
  "openapi": "3.0.1",
  "info": {
    "title": "Conversations Inbox & Messages",
    "description": "Basepom for all HubSpot Projects",
    "version": "v3",
    "x-hubspot-product-tier-requirements": {
      "marketing": "FREE",
      "sales": "FREE",
      "service": "FREE",
      "cms": "FREE",
      "commerce": "FREE",
      "crmHub": "FREE",
      "dataHub": "FREE"
    },
    "x-hubspot-api-use-case": "If you're using the conversations inbox in HubSpot, but you want to report on support agent productivity in an external tool or export message data to an external service, you can build an integration with the conversations and messages API.",
    "x-hubspot-related-documentation": [
      {
        "name": "Inbox & Messages Guide",
        "url": "https://developers.hubspot.com/docs/guides/api/conversations/inbox-and-messages"
      }
    ],
    "x-hubspot-introduction": "Use the conversations API to manage and send messages via the connected channels in your conversations inbox. You can retrieve existing messages, update threads, and provide internal comments for agents on your team. ",
    "x-moar-merged": true,
    "x-moar-merged-count": 2
  },
  "servers": [
    {
      "url": "https://api.hubapi.com"
    }
  ],
  "tags": [
    {
      "name": "Public_Thread"
    },
    {
      "name": "Public_Inbox"
    },
    {
      "name": "Public_Channel_Account"
    },
    {
      "name": "Public_Channel"
    },
    {
      "name": "Public_Message"
    },
    {
      "name": "Public_Actor"
    },
    {
      "name": "External_Channel_Accounts"
    },
    {
      "name": "External_Messages"
    },
    {
      "name": "External_Channels"
    },
    {
      "name": "External_Channel_Account_Staging_Tokens"
    }
  ],
  "paths": {
    "/conversations/v3/conversations/inboxes": {
      "get": {
        "tags": [
          "Public_Inbox"
        ],
        "summary": "Get conversations inboxes",
        "description": "Retrieve a list of conversations inboxes, with optional filters and sorting.",
        "operationId": "get-/conversations/v3/conversations/inboxes",
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "results",
                    "total"
                  ],
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "paging": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "required": [
                            "after"
                          ],
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string",
                              "description": "A URL that can be used to retrieve the next page results.",
                              "example": ""
                            },
                            "after": {
                              "type": "string",
                              "description": "A paging cursor token for retrieving subsequent pages.",
                              "example": ""
                            }
                          },
                          "description": "Specifies the paging information needed to retrieve the next set of results in a paginated API response"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "required": [
                          "archived",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "description": "When the inbox was created.",
                            "format": "date-time"
                          },
                          "archivedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "archived": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the inbox."
                          },
                          "id": {
                            "type": "string",
                            "description": "The ID of the inbox."
                          },
                          "type": {
                            "type": "string",
                            "description": "Specifies whether this refers to a Conversations Inbox or to the Help Desk. Valid values are INBOX or HELP_DESK"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "oauth2": [
              "conversations.read"
            ]
          },
          {
            "private_apps": [
              "conversations.read"
            ]
          }
        ],
        "x-moar-primitive-count": 0,
        "x-moar-complexity-skipped": false
      }
    },
    "/conversations/v3/conversations/threads/{threadId}": {
      "get": {
        "tags": [
          "Public_Thread"
        ],
        "summary": "Get a single thread",
        "description": "Retrieve a single thread by its ID",
        "operationId": "get-/conversations/v3/conversations/threads/{threadId}",
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": ".+",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "associatedContactId",
                    "createdAt",
                    "id",
                    "inboxId",
                    "originalChannelAccountId",
                    "originalChannelId",
                    "spam",
                    "status"
                  ],
                  "type": "object",
                  "properties": {
                    "associatedContactId": {
                      "type": "string",
                      "description": "The ID of the associated Contact in the CRM. If the Contact for the thread has not yet been added or created, the `associatedContactId` returned will be a visitorID and cannot be used to search for the Contact in the CRM."
                    },
                    "threadAssociations": {
                      "type": "object",
                      "properties": {
                        "associatedTicketId": {
                          "type": "string"
                        }
                      }
                    },
                    "assignedTo": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "When the thread was created.",
                      "format": "date-time"
                    },
                    "archived": {
                      "type": "boolean",
                      "description": "Whether this thread is archived."
                    },
                    "originalChannelId": {
                      "type": "string"
                    },
                    "latestMessageTimestamp": {
                      "type": "string",
                      "description": "The time that the latest message was sent or received on the thread.",
                      "format": "date-time"
                    },
                    "latestMessageSentTimestamp": {
                      "type": "string",
                      "description": "The time that the latest message was sent on the thread.",
                      "format": "date-time"
                    },
                    "originalChannelAccountId": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string",
                      "description": "The unique ID of the thread."
                    },
                    "closedAt": {
                      "type": "string",
                      "description": "When the thread was closed. Only set if the thread is closed.",
                      "format": "date-time"
                    },
                    "spam": {
                      "type": "boolean",
                      "description": "Whether the thread is marked as spam."
                    },
                    "inboxId": {
                      "type": "string",
                      "description": "The ID of the conversations inbox containing the thread."
                    },
                    "status": {
                      "type": "string",
                      "description": "The thread's status: `OPEN` or `CLOSED`.",
                      "enum": [
                        "OPEN",
                        "CLOSED"
                      ]
                    },
                    "latestMessageReceivedTimestamp": {
                      "type": "string",
                      "description": "The time that the latest message was sent on the thread.",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "oauth2": [
              "conversations.read"
            ]
          },
          {
            "private_apps": [
              "conversations.read"
            ]
          }
        ],
        "x-moar-primitive-count": 0,
        "x-moar-complexity-skipped": false
      },
      "delete": {
        "tags": [
          "Public_Thread"
        ],
        "summary": "Archives a thread",
        "description": "Archives a single thread. The thread will be permanently deleted 30 days after placed in an archived state.",
        "operationId": "delete-/conversations/v3/conversations/threads/{threadId}",
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": ".+",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content",
            "content": {}
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_apps": [
              "conversations.write"
            ]
          },
          {
            "oauth2": [
              "conversations.write"
            ]
          }
        ],
        "x-moar-primitive-count": 0,
        "x-moar-complexity-skipped": false
      },
      "patch": {
        "tags": [
          "Public_Thread"
        ],
        "summary": "Update a thread",
        "description": "Updates a single thread. Either a thread's status can be updated, or the thread can be restored.",
        "operationId": "patch-/conversations/v3/conversations/threads/{threadId}",
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": ".+",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "archived": {
                    "type": "boolean",
                    "description": "Whether this thread is archived. Set to false to restore the thread."
                  },
                  "status": {
                    "type": "string",
                    "description": "The thread's status: `OPEN` or `CLOSED`.",
                    "enum": [
                      "OPEN",
                      "CLOSED"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "associatedContactId",
                    "createdAt",
                    "id",
                    "inboxId",
                    "originalChannelAccountId",
                    "originalChannelId",
                    "spam",
                    "status"
                  ],
                  "type": "object",
                  "properties": {
                    "associatedContactId": {
                      "type": "string",
                      "description": "The ID of the associated Contact in the CRM. If the Contact for the thread has not yet been added or created, the `associatedContactId` returned will be a visitorID and cannot be used to search for the Contact in the CRM."
                    },
                    "threadAssociations": {
                      "type": "object",
                      "properties": {
                        "associatedTicketId": {
                          "type": "string"
                        }
                      }
                    },
                    "assignedTo": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "When the thread was created.",
                      "format": "date-time"
                    },
                    "archived": {
                      "type": "boolean",
                      "description": "Whether this thread is archived."
                    },
                    "originalChannelId": {
                      "type": "string"
                    },
                    "latestMessageTimestamp": {
                      "type": "string",
                      "description": "The time that the latest message was sent or received on the thread.",
                      "format": "date-time"
                    },
                    "latestMessageSentTimestamp": {
                      "type": "string",
                      "description": "The time that the latest message was sent on the thread.",
                      "format": "date-time"
                    },
                    "originalChannelAccountId": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string",
                      "description": "The unique ID of the thread."
                    },
                    "closedAt": {
                      "type": "string",
                      "description": "When the thread was closed. Only set if the thread is closed.",
                      "format": "date-time"
                    },
                    "spam": {
                      "type": "boolean",
                      "description": "Whether the thread is marked as spam."
                    },
                    "inboxId": {
                      "type": "string",
                      "description": "The ID of the conversations inbox containing the thread."
                    },
                    "status": {
                      "type": "string",
                      "description": "The thread's status: `OPEN` or `CLOSED`.",
                      "enum": [
                        "OPEN",
                        "CLOSED"
                      ]
                    },
                    "latestMessageReceivedTimestamp": {
                      "type": "string",
                      "description": "The time that the latest message was sent on the thread.",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_apps": [
              "conversations.write"
            ]
          },
          {
            "oauth2": [
              "conversations.write"
            ]
          }
        ],
        "x-moar-primitive-count": 2,
        "x-moar-complexity-skipped": false
      }
    },
    "/conversations/v3/conversations/threads/{threadId}/messages/{messageId}/original-content": {
      "get": {
        "tags": [
          "Public_Message"
        ],
        "summary": "Get the original content of a single message",
        "description": "Returns the complete original text and rich text bodies of a message. This will be different from the text and rich text in the message itself if the message's `truncationStatus` is anything other than `NOT_TRUNCATED`.",
        "operationId": "get-/conversations/v3/conversations/threads/{threadId}/messages/{messageId}/original-content",
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": ".+",
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": ".+",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string"
                    },
                    "richText": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "oauth2": [
              "conversations.read"
            ]
          },
          {
            "private_apps": [
              "conversations.read"
            ]
          }
        ],
        "x-moar-primitive-count": 0,
        "x-moar-complexity-skipped": false
      }
    },
    "/conversations/v3/conversations/channels": {
      "get": {
        "tags": [
          "Public_Channel"
        ],
        "summary": "Get channels",
        "description": "Retrieve a list of channels, with optional filters and sorting.",
        "operationId": "get-/conversations/v3/conversations/channels",
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "results",
                    "total"
                  ],
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "paging": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "required": [
                            "after"
                          ],
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string",
                              "description": "A URL that can be used to retrieve the next page results.",
                              "example": ""
                            },
                            "after": {
                              "type": "string",
                              "description": "A paging cursor token for retrieving subsequent pages.",
                              "example": ""
                            }
                          },
                          "description": "Specifies the paging information needed to retrieve the next set of results in a paginated API response"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name of the channel."
                          },
                          "id": {
                            "type": "string",
                            "description": "The ID of the channel."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "oauth2": [
              "conversations.read"
            ]
          },
          {
            "private_apps": [
              "conversations.read"
            ]
          }
        ],
        "x-moar-primitive-count": 0,
        "x-moar-complexity-skipped": false
      }
    },
    "/conversations/v3/conversations/actors/{actorId}": {
      "get": {
        "tags": [
          "Public_Actor"
        ],
        "summary": "Get a single actor",
        "description": "Retrieve details of a single actor using the actor ID.",
        "operationId": "get-/conversations/v3/conversations/actors/{actorId}",
        "parameters": [
          {
            "name": "actorId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": ".+",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {},
                  "oneOf": [
                    {
                      "properties": {},
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/PublicActor",
                          "has_circular_reference": true
                        },
                        {
                          "required": [
                            "id",
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "default": "AGENT",
                              "enum": [
                                "AGENT"
                              ]
                            },
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "avatar": {
                              "type": "string"
                            }
                          },
                          "x-hubspot-sub-type-impl": true
                        }
                      ]
                    },
                    {
                      "properties": {},
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/PublicActor",
                          "has_circular_reference": true
                        },
                        {
                          "required": [
                            "id",
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "default": "BOT",
                              "enum": [
                                "BOT"
                              ]
                            },
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "avatar": {
                              "type": "string"
                            }
                          },
                          "x-hubspot-sub-type-impl": true
                        }
                      ]
                    },
                    {
                      "properties": {},
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/PublicActor",
                          "has_circular_reference": true
                        },
                        {
                          "required": [
                            "id",
                            "name",
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "default": "INTEGRATOR",
                              "enum": [
                                "INTEGRATOR"
                              ]
                            },
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "avatar": {
                              "type": "string"
                            }
                          },
                          "x-hubspot-sub-type-impl": true
                        }
                      ]
                    },
                    {
                      "properties": {},
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/PublicActor",
                          "has_circular_reference": true
                        },
                        {
                          "required": [
                            "id",
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "default": "SYSTEM",
                              "enum": [
                                "SYSTEM"
                              ]
                            },
                            "id": {
                              "type": "string"
                            }
                          },
                          "x-hubspot-sub-type-impl": true
                        }
                      ]
                    },
                    {
                      "properties": {},
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/PublicActor",
                          "has_circular_reference": true
                        },
                        {
                          "required": [
                            "id",
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "default": "VISITOR",
                              "enum": [
                                "VISITOR"
                              ]
                            },
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "avatar": {
                              "type": "string"
                            }
                          },
                          "x-hubspot-sub-type-impl": true
                        }
                      ]
                    },
                    {
                      "properties": {},
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/PublicActor",
                          "has_circular_reference": true
                        },
                        {
                          "required": [
                            "email",
                            "id",
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "default": "EMAIL",
                              "enum": [
                                "EMAIL"
                              ]
                            },
                            "id": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            }
                          },
                          "x-hubspot-sub-type-impl": true
                        }
                      ]
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/PublicActor",
                          "has_circular_reference": true
                        },
                        {
                          "required": [
                            "id",
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "default": "LLM",
                              "enum": [
                                "LLM"
                              ]
                            },
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "avatar": {
                              "type": "string"
                            }
                          },
                          "x-hubspot-sub-type-impl": true
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "oauth2": [
              "conversations.read"
            ]
          },
          {
            "private_apps": [
              "conversations.read"
            ]
          }
        ],
        "x-moar-primitive-count": 0,
        "x-moar-complexity-skipped": false
      }
    },
    "/conversations/v3/conversations/threads": {
      "get": {
        "tags": [
          "Public_Thread"
        ],
        "summary": "Get threads",
        "description": "Retrieve a list of threads, with optional filters and sorting.",
        "operationId": "get-/conversations/v3/conversations/threads",
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "paging": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "required": [
                            "after"
                          ],
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string",
                              "description": "A URL that can be used to retrieve the next page results.",
                              "example": ""
                            },
                            "after": {
                              "type": "string",
                              "description": "A paging cursor token for retrieving subsequent pages.",
                              "example": ""
                            }
                          },
                          "description": "Specifies the paging information needed to retrieve the next set of results in a paginated API response"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "required": [
                          "associatedContactId",
                          "createdAt",
                          "id",
                          "inboxId",
                          "originalChannelAccountId",
                          "originalChannelId",
                          "spam",
                          "status"
                        ],
                        "type": "object",
                        "properties": {
                          "associatedContactId": {
                            "type": "string",
                            "description": "The ID of the associated Contact in the CRM. If the Contact for the thread has not yet been added or created, the `associatedContactId` returned will be a visitorID and cannot be used to search for the Contact in the CRM."
                          },
                          "threadAssociations": {
                            "type": "object",
                            "properties": {
                              "associatedTicketId": {
                                "type": "string"
                              }
                            }
                          },
                          "assignedTo": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "When the thread was created.",
                            "format": "date-time"
                          },
                          "archived": {
                            "type": "boolean",
                            "description": "Whether this thread is archived."
                          },
                          "originalChannelId": {
                            "type": "string"
                          },
                          "latestMessageTimestamp": {
                            "type": "string",
                            "description": "The time that the latest message was sent or received on the thread.",
                            "format": "date-time"
                          },
                          "latestMessageSentTimestamp": {
                            "type": "string",
                            "description": "The time that the latest message was sent on the thread.",
                            "format": "date-time"
                          },
                          "originalChannelAccountId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique ID of the thread."
                          },
                          "closedAt": {
                            "type": "string",
                            "description": "When the thread was closed. Only set if the thread is closed.",
                            "format": "date-time"
                          },
                          "spam": {
                            "type": "boolean",
                            "description": "Whether the thread is marked as spam."
                          },
                          "inboxId": {
                            "type": "string",
                            "description": "The ID of the conversations inbox containing the thread."
                          },
                          "status": {
                            "type": "string",
                            "description": "The thread's status: `OPEN` or `CLOSED`.",
                            "enum": [
                              "OPEN",
                              "CLOSED"
                            ]
                          },
                          "latestMessageReceivedTimestamp": {
                            "type": "string",
                            "description": "The time that the latest message was sent on the thread.",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "oauth2": [
              "conversations.read"
            ]
          },
          {
            "private_apps": [
              "conversations.read"
            ]
          }
        ],
        "x-moar-primitive-count": 0,
        "x-moar-complexity-skipped": false
      }
    },
    "/conversations/v3/conversations/threads/{threadId}/messages": {
      "get": {
        "tags": [
          "Public_Message"
        ],
        "summary": "Get message history for a thread",
        "description": "Retrieve the message history for a specific thread.",
        "operationId": "get-/conversations/v3/conversations/threads/{threadId}/messages",
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": ".+",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "paging": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "required": [
                            "after"
                          ],
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string",
                              "description": "A URL that can be used to retrieve the next page results.",
                              "example": ""
                            },
                            "after": {
                              "type": "string",
                              "description": "A paging cursor token for retrieving subsequent pages.",
                              "example": ""
                            }
                          },
                          "description": "Specifies the paging information needed to retrieve the next set of results in a paginated API response"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "properties": {},
                            "allOf": [
                              {
                                "properties": {},
                                "oneOf": [
                                  {
                                    "$ref": "#/components/schemas/PublicConversationsMessage",
                                    "has_circular_reference": true
                                  },
                                  {
                                    "properties": {},
                                    "allOf": [
                                      {
                                        "$ref": "#/components/schemas/PublicMessage",
                                        "has_circular_reference": true
                                      },
                                      {
                                        "required": [
                                          "archived",
                                          "attachments",
                                          "client",
                                          "conversationsThreadId",
                                          "createdAt",
                                          "createdBy",
                                          "id",
                                          "recipients",
                                          "richText",
                                          "senders",
                                          "text",
                                          "type"
                                        ],
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "default": "COMMENT",
                                            "enum": [
                                              "COMMENT"
                                            ]
                                          },
                                          "id": {
                                            "type": "string"
                                          },
                                          "conversationsThreadId": {
                                            "type": "string"
                                          },
                                          "createdAt": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "updatedAt": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "createdBy": {
                                            "type": "string"
                                          },
                                          "client": {
                                            "type": "object",
                                            "properties": {
                                              "clientType": {
                                                "type": "string",
                                                "description": "The type of the client.",
                                                "enum": [
                                                  "HUBSPOT",
                                                  "SYSTEM",
                                                  "INTEGRATION",
                                                  "UNKNOWN"
                                                ]
                                              },
                                              "integrationAppId": {
                                                "type": "integer",
                                                "description": "The ID of the client if the client is an integration.",
                                                "format": "int32"
                                              }
                                            }
                                          },
                                          "senders": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "actorId": {
                                                  "type": "string"
                                                },
                                                "name": {
                                                  "type": "string"
                                                },
                                                "senderField": {
                                                  "type": "string"
                                                },
                                                "deliveryIdentifier": {
                                                  "required": [
                                                    "type",
                                                    "value"
                                                  ],
                                                  "type": "object",
                                                  "properties": {
                                                    "type": {
                                                      "type": "string",
                                                      "description": "The type of identifier. HS_EMAIL_ADDRESS for email addresses; HS_PHONE_NUMBER for a phone number; CHANNEL_SPECIFIC_OPAQUE_ID for channels that use their own proprietary identifiers, like Facebook Messenger or LiveChat."
                                                    },
                                                    "value": {
                                                      "type": "string",
                                                      "description": "A string representation of the PublicDeliveryIdentifier, either an an E.164 phone number, an email address, or a channel-specific identifier."
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "recipients": {
                                            "type": "array",
                                            "items": {
                                              "required": [
                                                "deliveryIdentifier"
                                              ],
                                              "type": "object",
                                              "properties": {
                                                "actorId": {
                                                  "type": "string"
                                                },
                                                "name": {
                                                  "type": "string"
                                                },
                                                "deliveryIdentifier": {
                                                  "required": [
                                                    "type",
                                                    "value"
                                                  ],
                                                  "type": "object",
                                                  "properties": {
                                                    "type": {
                                                      "type": "string",
                                                      "description": "The type of identifier. HS_EMAIL_ADDRESS for email addresses; HS_PHONE_NUMBER for a phone number; CHANNEL_SPECIFIC_OPAQUE_ID for channels that use their own proprietary identifiers, like Facebook Messenger or LiveChat."
                                                    },
                                                    "value": {
                                                      "type": "string",
                                                      "description": "A string representation of the PublicDeliveryIdentifier, either an an E.164 phone number, an email address, or a channel-specific identifier."
                                                    }
                                                  }
                                                },
                                                "recipientField": {
                                                  "type": "string"
                                                }
                                              }
                                            }
                                          },
                                          "archived": {
                                            "type": "boolean"
                                          },
                                          "text": {
                                            "type": "string"
                                          },
                                          "richText": {
                                            "type": "string"
                                          },
                                          "attachments": {
                                            "type": "array",
                                            "items": {
                                              "oneOf": [
                                                {
                                                  "title": "FILE",
                                                  "required": [
                                                    "fileId",
                                                    "fileUsageType",
                                                    "type",
                                                    "url"
                                                  ],
                                                  "type": "object",
                                                  "properties": {
                                                    "fileUsageType": {
                                                      "type": "string"
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "type": {
                                                      "type": "string",
                                                      "default": "FILE",
                                                      "enum": [
                                                        "FILE"
                                                      ]
                                                    },
                                                    "url": {
                                                      "type": "string"
                                                    },
                                                    "fileId": {
                                                      "type": "string"
                                                    }
                                                  }
                                                },
                                                {
                                                  "title": "LOCATION",
                                                  "required": [
                                                    "latitude",
                                                    "longitude",
                                                    "type"
                                                  ],
                                                  "type": "object",
                                                  "properties": {
                                                    "address": {
                                                      "type": "string"
                                                    },
                                                    "latitude": {
                                                      "type": "number"
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "type": {
                                                      "type": "string",
                                                      "default": "LOCATION",
                                                      "enum": [
                                                        "LOCATION"
                                                      ]
                                                    },
                                                    "url": {
                                                      "type": "string"
                                                    },
                                                    "longitude": {
                                                      "type": "number"
                                                    }
                                                  }
                                                },
                                                {
                                                  "title": "CONTACT",
                                                  "required": [
                                                    "contactProfile",
                                                    "type"
                                                  ],
                                                  "type": "object",
                                                  "properties": {
                                                    "type": {
                                                      "type": "string",
                                                      "default": "CONTACT",
                                                      "enum": [
                                                        "CONTACT"
                                                      ]
                                                    },
                                                    "contactProfile": {
                                                      "required": [
                                                        "addresses",
                                                        "emails",
                                                        "phones",
                                                        "urls"
                                                      ],
                                                      "type": "object",
                                                      "properties": {
                                                        "emails": {
                                                          "type": "array",
                                                          "items": {
                                                            "$ref": "#/components/schemas/ContactEmail"
                                                          }
                                                        },
                                                        "addresses": {
                                                          "type": "array",
                                                          "items": {
                                                            "$ref": "#/components/schemas/ContactAddress"
                                                          }
                                                        },
                                                        "urls": {
                                                          "type": "array",
                                                          "items": {
                                                            "$ref": "#/components/schemas/ContactUrl"
                                                          }
                                                        },
                                                        "org": {
                                                          "$ref": "#/components/schemas/ContactOrg"
                                                        },
                                                        "name": {
                                                          "$ref": "#/components/schemas/ContactName"
                                                        },
                                                        "phones": {
                                                          "type": "array",
                                                          "items": {
                                                            "$ref": "#/components/schemas/ContactPhone"
                                                          }
                                                        }
                                                      }
                                                    }
                                                  }
                                                },
                                                {
                                                  "title": "UNSUPPORTED_CONTENT",
                                                  "required": [
                                                    "type"
                                                  ],
                                                  "type": "object",
                                                  "properties": {
                                                    "type": {
                                                      "type": "string",
                                                      "default": "UNSUPPORTED_CONTENT",
                                                      "enum": [
                                                        "UNSUPPORTED_CONTENT"
                                                      ]
                                                    }
                                                  }
                                                },
                                                {
                                                  "title": "MESSAGE_HEADER",
                                                  "required": [
                                                    "type"
                                                  ],
                                                  "type": "object",
                                                  "properties": {
                                                    "text": {
                                                      "type": "string"
                                                    },
                                                    "type": {
                                                      "type": "string",
                                                      "default": "MESSAGE_HEADER",
                                                      "enum": [
                                                        "MESSAGE_HEADER"
                                                      ]
                                                    },
                                                    "fileId": {
                                                      "type": "integer",
                                                      "format": "int64"
                                                    }
                                                  }
                                                },
                                                {
                                                  "title": "QUICK_REPLIES",
                                                  "required": [
                                                    "allowMultiSelect",
                                                    "allowUserInput",
                                                    "quickReplies",
                                                    "type"
                                                  ],
                                                  "type": "object",
                                                  "properties": {
                                                    "quickReplies": {
                                                      "type": "array",
                                                      "items": {
                                                        "required": [
                                                          "value",
                                                          "valueType"
                                                        ],
                                                        "type": "object",
                                                        "properties": {
                                                          "valueType": {
                                                            "type": "string"
                                                          },
                                                          "label": {
                                                            "type": "string"
                                                          },
                                                          "value": {
                                                            "type": "string"
                                                          }
                                                        }
                                                      }
                                                    },
                                                    "allowMultiSelect": {
                                                      "type": "boolean"
                                                    },
                                                    "allowUserInput": {
                                                      "type": "boolean"
                                                    },
                                                    "type": {
                                                      "type": "string",
                                                      "default": "QUICK_REPLIES",
                                                      "enum": [
                                                        "QUICK_REPLIES"
                                                      ]
                                                    }
                                                  }
                                                },
                                                {
                                                  "title": "WHATSAPP_TEMPLATE_METADATA",
                                                  "required": [
                                                    "crmObjectIds",
                                                    "mappedTemplateId",
                                                    "parameters",
                                                    "type"
                                                  ],
                                                  "type": "object",
                                                  "properties": {
                                                    "crmObjectIds": {
                                                      "type": "object",
                                                      "additionalProperties": {
                                                        "type": "integer",
                                                        "format": "int64"
                                                      }
                                                    },
                                                    "mappedTemplateId": {
                                                      "type": "string"
                                                    },
                                                    "type": {
                                                      "type": "string",
                                                      "default": "WHATSAPP_TEMPLATE_METADATA",
                                                      "enum": [
                                                        "WHATSAPP_TEMPLATE_METADATA"
                                                      ]
                                                    },
                                                    "parameters": {
                                                      "type": "object",
                                                      "additionalProperties": {
                                                        "type": "string"
                                                      }
                                                    }
                                                  }
                                                },
                                                {
                                                  "title": "SOCIAL_MEDIA_METADATA",
                                                  "required": [
                                                    "socialMetadata",
                                                    "type"
                                                  ],
                                                  "type": "object",
                                                  "properties": {
                                                    "type": {
                                                      "type": "string",
                                                      "default": "SOCIAL_MEDIA_METADATA",
                                                      "enum": [
                                                        "SOCIAL_MEDIA_METADATA"
                                                      ]
                                                    },
                                                    "socialMetadata": {
                                                      "required": [
                                                        "mediaType"
                                                      ],
                                                      "type": "object",
                                                      "properties": {
                                                        "mediaType": {
                                                          "type": "string"
                                                        },
                                                        "mediaUrlString": {
                                                          "type": "string"
                                                        },
                                                        "mediaUrl": {
                                                          "type": "string"
                                                        },
                                                        "thumbnailUrl": {
                                                          "type": "string"
                                                        },
                                                        "mediaTitle": {
                                                          "type": "string"
                                                        },
                                                        "description": {
                                                          "type": "string"
                                                        },
                                                        "id": {
                                                          "type": "string"
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              ]
                                            }
                                          }
                                        },
                                        "x-hubspot-sub-type-impl": true
                                      }
                                    ]
                                  },
                                  {
                                    "properties": {},
                                    "allOf": [
                                      {
                                        "$ref": "#/components/schemas/PublicMessage",
                                        "has_circular_reference": true
                                      },
                                      {
                                        "required": [
                                          "archived",
                                          "channelAccountId",
                                          "channelId",
                                          "client",
                                          "conversationsThreadId",
                                          "createdAt",
                                          "createdBy",
                                          "id",
                                          "recipients",
                                          "senders",
                                          "text",
                                          "type"
                                        ],
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "default": "WELCOME_MESSAGE",
                                            "enum": [
                                              "WELCOME_MESSAGE"
                                            ]
                                          },
                                          "id": {
                                            "type": "string"
                                          },
                                          "conversationsThreadId": {
                                            "type": "string"
                                          },
                                          "createdAt": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "updatedAt": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "createdBy": {
                                            "type": "string"
                                          },
                                          "client": {
                                            "type": "object",
                                            "properties": {
                                              "clientType": {
                                                "type": "string",
                                                "description": "The type of the client.",
                                                "enum": [
                                                  "HUBSPOT",
                                                  "SYSTEM",
                                                  "INTEGRATION",
                                                  "UNKNOWN"
                                                ]
                                              },
                                              "integrationAppId": {
                                                "type": "integer",
                                                "description": "The ID of the client if the client is an integration.",
                                                "format": "int32"
                                              }
                                            }
                                          },
                                          "senders": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "actorId": {
                                                  "type": "string"
                                                },
                                                "name": {
                                                  "type": "string"
                                                },
                                                "senderField": {
                                                  "type": "string"
                                                },
                                                "deliveryIdentifier": {
                                                  "required": [
                                                    "type",
                                                    "value"
                                                  ],
                                                  "type": "object",
                                                  "properties": {
                                                    "type": {
                                                      "type": "string",
                                                      "description": "The type of identifier. HS_EMAIL_ADDRESS for email addresses; HS_PHONE_NUMBER for a phone number; CHANNEL_SPECIFIC_OPAQUE_ID for channels that use their own proprietary identifiers, like Facebook Messenger or LiveChat."
                                                    },
                                                    "value": {
                                                      "type": "string",
                                                      "description": "A string representation of the PublicDeliveryIdentifier, either an an E.164 phone number, an email address, or a channel-specific identifier."
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "recipients": {
                                            "type": "array",
                                            "items": {
                                              "required": [
                                                "deliveryIdentifier"
                                              ],
                                              "type": "object",
                                              "properties": {
                                                "actorId": {
                                                  "type": "string"
                                                },
                                                "name": {
                                                  "type": "string"
                                                },
                                                "deliveryIdentifier": {
                                                  "required": [
                                                    "type",
                                                    "value"
                                                  ],
                                                  "type": "object",
                                                  "properties": {
                                                    "type": {
                                                      "type": "string",
                                                      "description": "The type of identifier. HS_EMAIL_ADDRESS for email addresses; HS_PHONE_NUMBER for a phone number; CHANNEL_SPECIFIC_OPAQUE_ID for channels that use their own proprietary identifiers, like Facebook Messenger or LiveChat."
                                                    },
                                                    "value": {
                                                      "type": "string",
                                                      "description": "A string representation of the PublicDeliveryIdentifier, either an an E.164 phone number, an email address, or a channel-specific identifier."
                                                    }
                                                  }
                                                },
                                                "recipientField": {
                                                  "type": "string"
                                                }
                                              }
                                            }
                                          },
                                          "archived": {
                                            "type": "boolean"
                                          },
                                          "text": {
                                            "type": "string"
                                          },
                                          "richText": {
                                            "type": "string"
                                          },
                                          "channelId": {
                                            "type": "string"
                                          },
                                          "channelAccountId": {
                                            "type": "string"
                                          }
                                        },
                                        "x-hubspot-sub-type-impl": true
                                      }
                                    ]
                                  },
                                  {
                                    "properties": {},
                                    "allOf": [
                                      {
                                        "$ref": "#/components/schemas/PublicMessage",
                                        "has_circular_reference": true
                                      },
                                      {
                                        "required": [
                                          "archived",
                                          "client",
                                          "conversationsThreadId",
                                          "createdAt",
                                          "createdBy",
                                          "id",
                                          "recipients",
                                          "senders",
                                          "type"
                                        ],
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "default": "ASSIGNMENT",
                                            "enum": [
                                              "ASSIGNMENT"
                                            ]
                                          },
                                          "id": {
                                            "type": "string"
                                          },
                                          "conversationsThreadId": {
                                            "type": "string"
                                          },
                                          "createdAt": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "updatedAt": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "createdBy": {
                                            "type": "string"
                                          },
                                          "client": {
                                            "type": "object",
                                            "properties": {
                                              "clientType": {
                                                "type": "string",
                                                "description": "The type of the client.",
                                                "enum": [
                                                  "HUBSPOT",
                                                  "SYSTEM",
                                                  "INTEGRATION",
                                                  "UNKNOWN"
                                                ]
                                              },
                                              "integrationAppId": {
                                                "type": "integer",
                                                "description": "The ID of the client if the client is an integration.",
                                                "format": "int32"
                                              }
                                            }
                                          },
                                          "senders": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "actorId": {
                                                  "type": "string"
                                                },
                                                "name": {
                                                  "type": "string"
                                                },
                                                "senderField": {
                                                  "type": "string"
                                                },
                                                "deliveryIdentifier": {
                                                  "required": [
                                                    "type",
                                                    "value"
                                                  ],
                                                  "type": "object",
                                                  "properties": {
                                                    "type": {
                                                      "type": "string",
                                                      "description": "The type of identifier. HS_EMAIL_ADDRESS for email addresses; HS_PHONE_NUMBER for a phone number; CHANNEL_SPECIFIC_OPAQUE_ID for channels that use their own proprietary identifiers, like Facebook Messenger or LiveChat."
                                                    },
                                                    "value": {
                                                      "type": "string",
                                                      "description": "A string representation of the PublicDeliveryIdentifier, either an an E.164 phone number, an email address, or a channel-specific identifier."
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "recipients": {
                                            "type": "array",
                                            "items": {
                                              "required": [
                                                "deliveryIdentifier"
                                              ],
                                              "type": "object",
                                              "properties": {
                                                "actorId": {
                                                  "type": "string"
                                                },
                                                "name": {
                                                  "type": "string"
                                                },
                                                "deliveryIdentifier": {
                                                  "required": [
                                                    "type",
                                                    "value"
                                                  ],
                                                  "type": "object",
                                                  "properties": {
                                                    "type": {
                                                      "type": "string",
                                                      "description": "The type of identifier. HS_EMAIL_ADDRESS for email addresses; HS_PHONE_NUMBER for a phone number; CHANNEL_SPECIFIC_OPAQUE_ID for channels that use their own proprietary identifiers, like Facebook Messenger or LiveChat."
                                                    },
                                                    "value": {
                                                      "type": "string",
                                                      "description": "A string representation of the PublicDeliveryIdentifier, either an an E.164 phone number, an email address, or a channel-specific identifier."
                                                    }
                                                  }
                                                },
                                                "recipientField": {
                                                  "type": "string"
                                                }
                                              }
                                            }
                                          },
                                          "archived": {
                                            "type": "boolean"
                                          },
                                          "assignedTo": {
                                            "type": "string"
                                          },
                                          "assignedFrom": {
                                            "type": "string"
                                          }
                                        },
                                        "x-hubspot-sub-type-impl": true
                                      }
                                    ]
                                  },
                                  {
                                    "properties": {},
                                    "allOf": [
                                      {
                                        "$ref": "#/components/schemas/PublicMessage",
                                        "has_circular_reference": true
                                      },
                                      {
                                        "required": [
                                          "archived",
                                          "client",
                                          "conversationsThreadId",
                                          "createdAt",
                                          "createdBy",
                                          "id",
                                          "newStatus",
                                          "recipients",
                                          "senders",
                                          "type"
                                        ],
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "default": "THREAD_STATUS_CHANGE",
                                            "enum": [
                                              "THREAD_STATUS_CHANGE"
                                            ]
                                          },
                                          "id": {
                                            "type": "string"
                                          },
                                          "conversationsThreadId": {
                                            "type": "string"
                                          },
                                          "createdAt": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "updatedAt": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "createdBy": {
                                            "type": "string"
                                          },
                                          "client": {
                                            "type": "object",
                                            "properties": {
                                              "clientType": {
                                                "type": "string",
                                                "description": "The type of the client.",
                                                "enum": [
                                                  "HUBSPOT",
                                                  "SYSTEM",
                                                  "INTEGRATION",
                                                  "UNKNOWN"
                                                ]
                                              },
                                              "integrationAppId": {
                                                "type": "integer",
                                                "description": "The ID of the client if the client is an integration.",
                                                "format": "int32"
                                              }
                                            }
                                          },
                                          "senders": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "actorId": {
                                                  "type": "string"
                                                },
                                                "name": {
                                                  "type": "string"
                                                },
                                                "senderField": {
                                                  "type": "string"
                                                },
                                                "deliveryIdentifier": {
                                                  "required": [
                                                    "type",
                                                    "value"
                                                  ],
                                                  "type": "object",
                                                  "properties": {
                                                    "type": {
                                                      "type": "string",
                                                      "description": "The type of identifier. HS_EMAIL_ADDRESS for email addresses; HS_PHONE_NUMBER for a phone number; CHANNEL_SPECIFIC_OPAQUE_ID for channels that use their own proprietary identifiers, like Facebook Messenger or LiveChat."
                                                    },
                                                    "value": {
                                                      "type": "string",
                                                      "description": "A string representation of the PublicDeliveryIdentifier, either an an E.164 phone number, an email address, or a channel-specific identifier."
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "recipients": {
                                            "type": "array",
                                            "items": {
                                              "required": [
                                                "deliveryIdentifier"
                                              ],
                                              "type": "object",
                                              "properties": {
                                                "actorId": {
                                                  "type": "string"
                                                },
                                                "name": {
                                                  "type": "string"
                                                },
                                                "deliveryIdentifier": {
                                                  "required": [
                                                    "type",
                                                    "value"
                                                  ],
                                                  "type": "object",
                                                  "properties": {
                                                    "type": {
                                                      "type": "string",
                                                      "description": "The type of identifier. HS_EMAIL_ADDRESS for email addresses; HS_PHONE_NUMBER for a phone number; CHANNEL_SPECIFIC_OPAQUE_ID for channels that use their own proprietary identifiers, like Facebook Messenger or LiveChat."
                                                    },
                                                    "value": {
                                                      "type": "string",
                                                      "description": "A string representation of the PublicDeliveryIdentifier, either an an E.164 phone number, an email address, or a channel-specific identifier."
                                                    }
                                                  }
                                                },
                                                "recipientField": {
                                                  "type": "string"
                                                }
                                              }
                                            }
                                          },
                                          "archived": {
                                            "type": "boolean"
                                          },
                                          "newStatus": {
                                            "type": "string",
                                            "enum": [
                                              "OPEN",
                                              "CLOSED"
                                            ]
                                          }
                                        },
                                        "x-hubspot-sub-type-impl": true
                                      }
                                    ]
                                  },
                                  {
                                    "properties": {},
[...]
