{
  "openapi": "3.0.1",
  "info": {
    "title": "Events Events",
    "version": "v3",
    "x-hubspot-product-tier-requirements": {
      "marketing": "ENTERPRISE",
      "sales": "ENTERPRISE",
      "service": "ENTERPRISE",
      "cms": "ENTERPRISE",
      "commerce": "FREE",
      "crmHub": "FREE",
      "dataHub": "FREE"
    },
    "x-hubspot-api-use-case": "You want to view a timeline of the interactions that a contact has had with your content. You can then use this timeline to build a dataset for custom analytics or present a contact timeline in an external application.",
    "x-hubspot-related-documentation": [
      {
        "name": "Web Analytics Guide",
        "url": "https://developers.hubspot.com/docs/guides/api/analytics-and-events/event-analytics"
      }
    ],
    "x-hubspot-introduction": "Use the web analytics API to fetch events associated with CRM records of any type. This includes standard events, such as website page views and email opens, as well as custom events.",
    "x-moar-merged": true,
    "x-moar-merged-count": 3
  },
  "servers": [
    {
      "url": "https://api.hubapi.com"
    }
  ],
  "tags": [
    {
      "name": "Events"
    },
    {
      "name": "Event definition"
    },
    {
      "name": "Batch"
    },
    {
      "name": "Basic"
    }
  ],
  "paths": {
    "/events/v3/events/": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Retrieve event data",
        "description": "Retrieve instances of event completion data. For example, retrieve all event completions associated with a specific contact.",
        "operationId": "get-/events/v3/events/_getPage",
        "parameters": [
          {
            "name": "objectType",
            "in": "query",
            "description": "The type of CRM object to filter event instances on (e.g., `contact`). To retrieve event data for a specific CRM record, include the additional `objectId` query parameter (below). ",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventType",
            "in": "query",
            "description": "The event type name. You can retrieve available event types using the [event types endpoint](#get-%2Fevents%2Fv3%2Fevents%2Fevent-types).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to display per page.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort direction based on the timestamp of the event instance, `ASCENDING` or `DESCENDING`.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "occurredAfter",
            "in": "query",
            "description": "Filter for event data that occurred after a specific datetime.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "occurredBefore",
            "in": "query",
            "description": "Filter for event data that occurred before a specific datetime.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "objectId",
            "in": "query",
            "description": "The ID of the CRM Object to filter event instances on. When including this parameter, you must also include the `objectType` parameter.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "objectProperty.{propname}",
            "in": "query",
            "description": "Instead of retrieving event data for a specific object by its ID, you can specify a unique identifier property. For contacts, you can use the `email` property. (e.g., `objectProperty.email=name@domain.com`).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "property.{propname}",
            "in": "query",
            "description": "Filter for event completions that contain a specific value for an event property (e.g., `property.hs_city=portland`). For properties values with spaces, replaces spaces with `%20` or `+` (e.g., `property.hs_city=new+york`).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "ID of an event instance. IDs are 1:1 with event instances. If you provide this filter and additional filters, the other filters must match the values on the event instance to yield results.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "paging": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "required": [
                            "after"
                          ],
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string",
                              "description": "A URL that can be used to retrieve the next page results.",
                              "example": ""
                            },
                            "after": {
                              "type": "string",
                              "description": "A paging cursor token for retrieving subsequent pages.",
                              "example": ""
                            }
                          },
                          "description": "Specifies the paging information needed to retrieve the next set of results in a paginated API response"
                        },
                        "prev": {
                          "required": [
                            "before"
                          ],
                          "type": "object",
                          "properties": {
                            "before": {
                              "type": "string",
                              "description": "A paging cursor token for retrieving previous pages.",
                              "example": ""
                            },
                            "link": {
                              "type": "string",
                              "description": "A URL that can be used to retrieve the previous pages' results.",
                              "example": ""
                            }
                          },
                          "description": "specifies the paging information needed to retrieve the previous set of results in a paginated API response"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "required": [
                          "eventType",
                          "id",
                          "objectId",
                          "objectType",
                          "occurredAt"
                        ],
                        "type": "object",
                        "properties": {
                          "occurredAt": {
                            "type": "string",
                            "description": "An ISO 8601 timestamp when the event occurred.",
                            "format": "date-time"
                          },
                          "eventType": {
                            "type": "string",
                            "description": "The format of the `eventType` string is `ae{appId}_{eventTypeLabel}`, `pe{portalId}_{eventTypeLabel}`, or just `e_{eventTypeLabel}` for HubSpot events."
                          },
                          "id": {
                            "type": "string",
                            "description": "A unique identifier for the event."
                          },
                          "objectId": {
                            "type": "string",
                            "description": "The objectId of the object which did the event."
                          },
                          "properties": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            },
                            "description": "A key-value map of event-specific properties. The available properties depend on the event type definition."
                          },
                          "objectType": {
                            "type": "string",
                            "description": "The objectType for the object which did the event."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "oauth2": [
              "oauth"
            ]
          },
          {
            "private_apps": [
              "oauth"
            ]
          }
        ],
        "x-moar-primitive-count": 0,
        "x-moar-complexity-skipped": false
      }
    },
    "/events/v3/events/event-types": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Event Types",
        "description": "This endpoint returns a list of event type names which are visible to you. You may use these event type names to query the API for specific event instances of a desired type.\n\nNote: the `get_types` method is only supported in the Python SDK version `12.0.0-beta.1` or later. ",
        "operationId": "get-/events/v3/events/event-types_getTypes",
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "eventTypes"
                  ],
                  "type": "object",
                  "properties": {
                    "eventTypes": {
                      "type": "array",
                      "description": "List of event type names.",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "oauth2": [
              "oauth"
            ]
          },
          {
            "private_apps": [
              "oauth"
            ]
          }
        ],
        "x-moar-primitive-count": 0,
        "x-moar-complexity-skipped": false
      }
    },
    "/events/v3/event-definitions": {
      "get": {
        "tags": [
          "Event definition"
        ],
        "summary": "Retrieve event definitions",
        "description": "Retrieve existing custom event definitions.",
        "operationId": "get-/events/v3/event-definitions",
        "parameters": [
          {
            "name": "searchString",
            "in": "query",
            "description": "Characters in the event name that the user is searching for. This search is a naive \u201ccontains\u201d search, no fuzzy matching is done.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to display per page.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeProperties",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "results",
                    "total"
                  ],
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "paging": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "required": [
                            "after"
                          ],
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string",
                              "description": "A URL that can be used to retrieve the next page results.",
                              "example": ""
                            },
                            "after": {
                              "type": "string",
                              "description": "A paging cursor token for retrieving subsequent pages.",
                              "example": ""
                            }
                          },
                          "description": "Specifies the paging information needed to retrieve the next set of results in a paginated API response"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "required": [
                          "archived",
                          "associations",
                          "fullyQualifiedName",
                          "id",
                          "labels",
                          "name",
                          "objectTypeId",
                          "properties"
                        ],
                        "type": "object",
                        "properties": {
                          "associations": {
                            "type": "array",
                            "items": {
                              "required": [
                                "allowsCustomLabels",
                                "cardinality",
                                "category",
                                "fromObjectTypeId",
                                "hasAllAssociatedObjects",
                                "hasCascadingDeletes",
                                "hasUserEnforcedMaxFromObjectIds",
                                "hasUserEnforcedMaxToObjectIds",
                                "hidden",
                                "id",
                                "inverseAllowsCustomLabels",
                                "inverseCardinality",
                                "inverseHasAllAssociatedObjects",
                                "inverseId",
                                "inverseName",
                                "isInversePrimary",
                                "isPrimary",
                                "maxFromObjectIds",
                                "maxToObjectIds",
                                "name",
                                "portalUniqueIdentifier",
                                "toObjectTypeId"
                              ],
                              "type": "object",
                              "properties": {
                                "inverseLabel": {
                                  "type": "string",
                                  "description": "The label used to describe the reverse relationship in an association.",
                                  "example": ""
                                },
                                "hidden": {
                                  "type": "boolean",
                                  "description": "Whether the association is hidden or not.",
                                  "example": false
                                },
                                "allowsCustomLabels": {
                                  "type": "boolean",
                                  "description": "Whether custom labels can be used in the association.",
                                  "example": false
                                },
                                "maxFromObjectIds": {
                                  "type": "integer",
                                  "description": "The maximum number of source object IDs allowed in the association.",
                                  "format": "int32"
                                },
                                "inverseAllowsCustomLabels": {
                                  "type": "boolean",
                                  "description": "Whether the reverse association can also support custom labels.",
                                  "example": false
                                },
                                "isPrimary": {
                                  "type": "boolean",
                                  "description": "Whether the association is the primary link between the entities involved.",
                                  "example": false
                                },
                                "hasUserEnforcedMaxToObjectIds": {
                                  "type": "boolean",
                                  "description": "Whether a user has set a limit for the number of destination objects.",
                                  "example": false
                                },
                                "hasUserEnforcedMaxFromObjectIds": {
                                  "type": "boolean",
                                  "description": "Whether a user has set a limit for the number of source objects.",
                                  "example": false
                                },
                                "id": {
                                  "type": "integer",
                                  "description": "The unique ID of the associated object (e.g., a contact ID).",
                                  "format": "int32"
                                },
                                "toObjectTypeId": {
                                  "type": "string",
                                  "description": "The ID of the destination object type (e.g., 0-3 for deals).",
                                  "example": ""
                                },
                                "inverseCardinality": {
                                  "type": "string",
                                  "description": "The cardinality from the destination object's perspective, either \"ONE_TO_ONE\" or \"ONE_TO_MANY\".",
                                  "example": "",
                                  "enum": [
                                    "ONE_TO_ONE",
                                    "ONE_TO_MANY"
                                  ]
                                },
                                "maxToObjectIds": {
                                  "type": "integer",
                                  "description": "The maximum number of destination object IDs allowed in the association.",
                                  "format": "int32"
                                },
                                "hasCascadingDeletes": {
                                  "type": "boolean",
                                  "description": "Whether deletions in the association should cause cascading deletes to linked objects.",
                                  "example": false
                                },
                                "fromObjectType": {
                                  "type": "string",
                                  "description": "The name of the source object type (e.g,. \"DEAL\" or \"QUOTE\").",
                                  "example": "",
                                  "enum": [
                                    "CONTACT",
                                    "COMPANY",
                                    "DEAL",
                                    "ENGAGEMENT",
                                    "TICKET",
                                    "OWNER",
                                    "PRODUCT",
                                    "LINE_ITEM",
                                    "BET_DELIVERABLE_SERVICE",
                                    "CONTENT",
                                    "CONVERSATION",
                                    "BET_ALERT",
                                    "PORTAL",
                                    "QUOTE",
                                    "FORM_SUBMISSION_INBOUNDDB",
                                    "QUOTA",
                                    "UNSUBSCRIBE",
                                    "COMMUNICATION",
                                    "FEEDBACK_SUBMISSION",
                                    "ATTRIBUTION",
                                    "SALESFORCE_SYNC_ERROR",
                                    "RESTORABLE_CRM_OBJECT",
                                    "HUB",
                                    "LANDING_PAGE",
                                    "PRODUCT_OR_FOLDER",
                                    "TASK",
                                    "FORM",
                                    "MARKETING_EMAIL",
                                    "AD_ACCOUNT",
                                    "AD_CAMPAIGN",
                                    "AD_GROUP",
                                    "AD",
                                    "KEYWORD",
                                    "CAMPAIGN",
                                    "SOCIAL_CHANNEL",
                                    "SOCIAL_POST",
                                    "SITE_PAGE",
                                    "BLOG_POST",
                                    "IMPORT",
                                    "EXPORT",
                                    "CTA",
                                    "TASK_TEMPLATE",
                                    "AUTOMATION_PLATFORM_FLOW",
                                    "OBJECT_LIST",
                                    "NOTE",
                                    "MEETING_EVENT",
                                    "CALL",
                                    "EMAIL",
                                    "PUBLISHING_TASK",
                                    "CONVERSATION_SESSION",
                                    "CONTACT_CREATE_ATTRIBUTION",
                                    "INVOICE",
                                    "MARKETING_EVENT",
                                    "CONVERSATION_INBOX",
                                    "CHATFLOW",
                                    "MEDIA_BRIDGE",
                                    "SEQUENCE",
                                    "SEQUENCE_STEP",
                                    "FORECAST",
                                    "SNIPPET",
                                    "TEMPLATE",
                                    "DEAL_CREATE_ATTRIBUTION",
                                    "QUOTE_TEMPLATE",
                                    "QUOTE_MODULE",
                                    "QUOTE_MODULE_FIELD",
                                    "QUOTE_FIELD",
                                    "SEQUENCE_ENROLLMENT",
                                    "SUBSCRIPTION",
                                    "ACCEPTANCE_TEST",
                                    "SOCIAL_BROADCAST",
                                    "DEAL_SPLIT",
                                    "DEAL_REGISTRATION",
                                    "GOAL_TARGET",
                                    "GOAL_TARGET_GROUP",
                                    "PORTAL_OBJECT_SYNC_MESSAGE",
                                    "FILE_MANAGER_FILE",
                                    "FILE_MANAGER_FOLDER",
                                    "SEQUENCE_STEP_ENROLLMENT",
                                    "APPROVAL",
                                    "APPROVAL_STEP",
                                    "CTA_VARIANT",
                                    "SALES_DOCUMENT",
                                    "DISCOUNT",
                                    "FEE",
                                    "TAX",
                                    "MARKETING_CALENDAR",
                                    "PERMISSIONS_TESTING",
                                    "PRIVACY_SCANNER_COOKIE",
                                    "DATA_SYNC_STATE",
                                    "WEB_INTERACTIVE",
                                    "PLAYBOOK",
                                    "FOLDER",
                                    "PLAYBOOK_QUESTION",
                                    "PLAYBOOK_SUBMISSION",
                                    "PLAYBOOK_SUBMISSION_ANSWER",
                                    "COMMERCE_PAYMENT",
                                    "GSC_PROPERTY",
                                    "SOX_PROTECTED_DUMMY_TYPE",
                                    "BLOG_LISTING_PAGE",
                                    "QUARANTINED_SUBMISSION",
                                    "PAYMENT_SCHEDULE",
                                    "PAYMENT_SCHEDULE_INSTALLMENT",
                                    "MARKETING_CAMPAIGN_UTM",
                                    "DISCOUNT_TEMPLATE",
                                    "DISCOUNT_CODE",
                                    "FEEDBACK_SURVEY",
                                    "CMS_URL",
                                    "SALES_TASK",
                                    "SALES_WORKLOAD",
                                    "USER",
                                    "POSTAL_MAIL",
                                    "SCHEMAS_BACKEND_TEST",
                                    "PAYMENT_LINK",
                                    "SUBMISSION_TAG",
                                    "CAMPAIGN_STEP",
                                    "SCHEDULING_PAGE",
                                    "SOX_PROTECTED_TEST_TYPE",
                                    "ORDER",
                                    "MARKETING_SMS",
                                    "PARTNER_ACCOUNT",
                                    "CAMPAIGN_TEMPLATE",
                                    "CAMPAIGN_TEMPLATE_STEP",
                                    "PLAYLIST",
                                    "CLIP",
                                    "CAMPAIGN_BUDGET_ITEM",
                                    "CAMPAIGN_SPEND_ITEM",
                                    "MIC",
                                    "CONTENT_AUDIT",
                                    "CONTENT_AUDIT_PAGE",
                                    "PLAYLIST_FOLDER",
                                    "LEAD",
                                    "ABANDONED_CART",
                                    "EXTERNAL_WEB_URL",
                                    "VIEW",
                                    "VIEW_BLOCK",
                                    "ROSTER",
                                    "CART",
                                    "AUTOMATION_PLATFORM_FLOW_ACTION",
                                    "SOCIAL_PROFILE",
                                    "PARTNER_CLIENT",
                                    "ROSTER_MEMBER",
                                    "MARKETING_EVENT_ATTENDANCE",
                                    "ALL_PAGES",
                                    "AI_FORECAST",
                                    "CRM_PIPELINES_DUMMY_TYPE",
                                    "KNOWLEDGE_ARTICLE",
                                    "PROPERTY_INFO",
                                    "DATA_PRIVACY_CONSENT",
                                    "GOAL_TEMPLATE",
                                    "SCORE_CONFIGURATION",
                                    "AUDIENCE",
                                    "PARTNER_CLIENT_REVENUE",
                                    "AUTOMATION_JOURNEY",
                                    "COMBO_EVENT_CONFIGURATION",
                                    "CRM_OBJECTS_DUMMY_TYPE",
                                    "CASE_STUDY",
                                    "SERVICE",
                                    "PODCAST_EPISODE",
                                    "PARTNER_SERVICE",
                                    "UNKNOWN"
                                  ]
                                },
                                "toObjectType": {
                                  "type": "string",
                                  "description": "The name of the destination object type (e.g,. \"DEAL\" or \"QUOTE\").",
                                  "example": "",
                                  "enum": [
                                    "CONTACT",
                                    "COMPANY",
                                    "DEAL",
                                    "ENGAGEMENT",
                                    "TICKET",
                                    "OWNER",
                                    "PRODUCT",
                                    "LINE_ITEM",
                                    "BET_DELIVERABLE_SERVICE",
                                    "CONTENT",
                                    "CONVERSATION",
                                    "BET_ALERT",
                                    "PORTAL",
                                    "QUOTE",
                                    "FORM_SUBMISSION_INBOUNDDB",
                                    "QUOTA",
                                    "UNSUBSCRIBE",
                                    "COMMUNICATION",
                                    "FEEDBACK_SUBMISSION",
                                    "ATTRIBUTION",
                                    "SALESFORCE_SYNC_ERROR",
                                    "RESTORABLE_CRM_OBJECT",
                                    "HUB",
                                    "LANDING_PAGE",
                                    "PRODUCT_OR_FOLDER",
                                    "TASK",
                                    "FORM",
                                    "MARKETING_EMAIL",
                                    "AD_ACCOUNT",
                                    "AD_CAMPAIGN",
                                    "AD_GROUP",
                                    "AD",
                                    "KEYWORD",
                                    "CAMPAIGN",
                                    "SOCIAL_CHANNEL",
                                    "SOCIAL_POST",
                                    "SITE_PAGE",
                                    "BLOG_POST",
                                    "IMPORT",
                                    "EXPORT",
                                    "CTA",
                                    "TASK_TEMPLATE",
                                    "AUTOMATION_PLATFORM_FLOW",
                                    "OBJECT_LIST",
                                    "NOTE",
                                    "MEETING_EVENT",
                                    "CALL",
                                    "EMAIL",
                                    "PUBLISHING_TASK",
                                    "CONVERSATION_SESSION",
                                    "CONTACT_CREATE_ATTRIBUTION",
                                    "INVOICE",
                                    "MARKETING_EVENT",
                                    "CONVERSATION_INBOX",
                                    "CHATFLOW",
                                    "MEDIA_BRIDGE",
                                    "SEQUENCE",
                                    "SEQUENCE_STEP",
                                    "FORECAST",
                                    "SNIPPET",
                                    "TEMPLATE",
                                    "DEAL_CREATE_ATTRIBUTION",
                                    "QUOTE_TEMPLATE",
                                    "QUOTE_MODULE",
                                    "QUOTE_MODULE_FIELD",
                                    "QUOTE_FIELD",
                                    "SEQUENCE_ENROLLMENT",
                                    "SUBSCRIPTION",
                                    "ACCEPTANCE_TEST",
                                    "SOCIAL_BROADCAST",
                                    "DEAL_SPLIT",
                                    "DEAL_REGISTRATION",
                                    "GOAL_TARGET",
                                    "GOAL_TARGET_GROUP",
                                    "PORTAL_OBJECT_SYNC_MESSAGE",
                                    "FILE_MANAGER_FILE",
                                    "FILE_MANAGER_FOLDER",
                                    "SEQUENCE_STEP_ENROLLMENT",
                                    "APPROVAL",
                                    "APPROVAL_STEP",
                                    "CTA_VARIANT",
                                    "SALES_DOCUMENT",
                                    "DISCOUNT",
                                    "FEE",
                                    "TAX",
                                    "MARKETING_CALENDAR",
                                    "PERMISSIONS_TESTING",
                                    "PRIVACY_SCANNER_COOKIE",
                                    "DATA_SYNC_STATE",
                                    "WEB_INTERACTIVE",
                                    "PLAYBOOK",
                                    "FOLDER",
                                    "PLAYBOOK_QUESTION",
                                    "PLAYBOOK_SUBMISSION",
                                    "PLAYBOOK_SUBMISSION_ANSWER",
                                    "COMMERCE_PAYMENT",
                                    "GSC_PROPERTY",
                                    "SOX_PROTECTED_DUMMY_TYPE",
                                    "BLOG_LISTING_PAGE",
                                    "QUARANTINED_SUBMISSION",
                                    "PAYMENT_SCHEDULE",
                                    "PAYMENT_SCHEDULE_INSTALLMENT",
                                    "MARKETING_CAMPAIGN_UTM",
                                    "DISCOUNT_TEMPLATE",
                                    "DISCOUNT_CODE",
                                    "FEEDBACK_SURVEY",
                                    "CMS_URL",
                                    "SALES_TASK",
                                    "SALES_WORKLOAD",
                                    "USER",
                                    "POSTAL_MAIL",
                                    "SCHEMAS_BACKEND_TEST",
                                    "PAYMENT_LINK",
                                    "SUBMISSION_TAG",
                                    "CAMPAIGN_STEP",
                                    "SCHEDULING_PAGE",
                                    "SOX_PROTECTED_TEST_TYPE",
                                    "ORDER",
                                    "MARKETING_SMS",
                                    "PARTNER_ACCOUNT",
                                    "CAMPAIGN_TEMPLATE",
                                    "CAMPAIGN_TEMPLATE_STEP",
                                    "PLAYLIST",
                                    "CLIP",
                                    "CAMPAIGN_BUDGET_ITEM",
                                    "CAMPAIGN_SPEND_ITEM",
                                    "MIC",
                                    "CONTENT_AUDIT",
                                    "CONTENT_AUDIT_PAGE",
                                    "PLAYLIST_FOLDER",
                                    "LEAD",
                                    "ABANDONED_CART",
                                    "EXTERNAL_WEB_URL",
                                    "VIEW",
                                    "VIEW_BLOCK",
                                    "ROSTER",
                                    "CART",
                                    "AUTOMATION_PLATFORM_FLOW_ACTION",
                                    "SOCIAL_PROFILE",
                                    "PARTNER_CLIENT",
                                    "ROSTER_MEMBER",
                                    "MARKETING_EVENT_ATTENDANCE",
                                    "ALL_PAGES",
                                    "AI_FORECAST",
                                    "CRM_PIPELINES_DUMMY_TYPE",
                                    "KNOWLEDGE_ARTICLE",
                                    "PROPERTY_INFO",
                                    "DATA_PRIVACY_CONSENT",
                                    "GOAL_TEMPLATE",
                                    "SCORE_CONFIGURATION",
                                    "AUDIENCE",
                                    "PARTNER_CLIENT_REVENUE",
                                    "AUTOMATION_JOURNEY",
                                    "COMBO_EVENT_CONFIGURATION",
                                    "CRM_OBJECTS_DUMMY_TYPE",
                                    "CASE_STUDY",
                                    "SERVICE",
                                    "PODCAST_EPISODE",
                                    "PARTNER_SERVICE",
                                    "UNKNOWN"
                                  ]
                                },
                                "label": {
                                  "type": "string",
                                  "description": "The label given to an association.",
                                  "example": ""
                                },
                                "inverseId": {
                                  "type": "integer",
                                  "description": "The unique ID for the inverse side of the association.",
                                  "format": "int32"
                                },
                                "cardinality": {
                                  "type": "string",
                                  "description": "The cardinality from the source object's perspective, either \"ONE_TO_ONE\" or \"ONE_TO_MANY\".",
                                  "example": "",
                                  "enum": [
                                    "ONE_TO_ONE",
                                    "ONE_TO_MANY"
                                  ]
                                },
                                "inverseName": {
                                  "type": "string",
                                  "description": "The name used to describe the inverse relationship in this association",
                                  "example": ""
                                },
                                "hasAllAssociatedObjects": {
                                  "type": "boolean",
                                  "description": "Whether all potential linked objects are included in the association",
                                  "example": false
                                },
                                "inverseHasAllAssociatedObjects": {
                                  "type": "boolean",
                                  "description": "Whether all potential reverse linked objects are included in the association.",
                                  "example": false
                                },
                                "fromObjectTypeId": {
                                  "type": "string",
                                  "description": "The ID of the source object type (e.g., 0-1 for contacts).",
                                  "example": ""
                                },
                                "portalUniqueIdentifier": {
                                  "type": "string",
                                  "description": "A unique across-portal ID applied to the association.",
                                  "example": ""
                                },
                                "isInversePrimary": {
                                  "type": "boolean",
                                  "description": "Whether the inverse association is considered primary.",
                                  "example": false
                                },
                                "name": {
                                  "type": "string",
                                  "description": "For labeled association types, the internal name of the association.",
                                  "example": ""
                                },
                                "category": {
                                  "type": "string",
                                  "description": "The category of the association. Can be: \"HUBSPOT_DEFINED\", \"USER_DEFINED\", or \"INTEGRATOR_DEFINED\"",
                                  "example": "",
                                  "enum": [
                                    "HUBSPOT_DEFINED",
                                    "USER_DEFINED",
                                    "INTEGRATOR_DEFINED"
                                  ]
                                }
                              },
                              "description": "The definition of an association"
                            }
                          },
                          "objectTypeId": {
                            "type": "string"
                          },
                          "createdUserId": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "trackingType": {
                            "type": "string",
                            "enum": [
                              "VISITED_URL",
                              "CLICKED_ELEMENT",
                              "CUSTOM_SCRIPT",
                              "MANUAL",
                              "IMPORT",
                              "PROPERTY_CHANGE",
                              "COMBO_EVENT",
                              "WEBHOOK"
                            ]
                          },
                          "description": {
                            "type": "string"
                          },
                          "primaryObjectId": {
                            "type": "string"
                          },
                          "comboEventRules": {
                            "required": [
                              "composingRules",
                              "operationType",
                              "ruleBranches"
                            ],
                            "type": "object",
                            "properties": {
                              "operationType": {
                                "type": "string",
                                "enum": [
                                  "AND",
                                  "OR"
                                ]
                              },
                              "composingRules": {
                                "type": "array",
                                "items": {
                                  "required": [
                                    "count",
                                    "eventTypeId",
                                    "propertyFilters"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "lookbackWindowDays": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "eventTypeId": {
                                      "type": "string"
                                    },
                                    "propertyFilters": {
                                      "type": "array",
                                      "items": {
                                        "title": "PROPERTY",
                                        "required": [
                                          "filterType",
                                          "operation",
                                          "property"
                                        ],
                                        "type": "object",
                                        "properties": {
                                          "frameworkFilterId": {
                                            "type": "integer",
                                            "format": "int64"
                                          },
                                          "property": {
                                            "type": "string"
                                          },
                                          "filterType": {
                                            "type": "string",
                                            "default": "PROPERTY",
                                            "enum": [
                                              "PROPERTY"
                                            ]
                                          },
                                          "operation": {
                                            "oneOf": [
                                              {
                                                "title": "bool",
                                                "required": [
                                                  "includeObjectsWithNoValueSet",
                                                  "operationType",
                                                  "operator",
                                                  "operatorName",
                                                  "propertyType",
                                                  "value"
                                                ],
                                                "type": "object",
                                                "properties": {
                                                  "includeObjectsWithNoValueSet": {
                                                    "type": "boolean"
                                                  },
                                                  "defaultValue": {
                                                    "type": "string"
                                                  },
                                                  "propertyType": {
                                                    "type": "string",
                                                    "default": "bool",
                                                    "enum": [
                                                      "bool"
                                                    ]
                                                  },
                                                  "operationType": {
                                                    "type": "string"
                                                  },
                                                  "value": {
                                                    "type": "boolean"
                                                  },
                                                  "operatorName": {
                                                    "type": "string"
                                                  },
                                                  "operator": {
                                                    "type": "string",
                                                    "enum": [
                                                      "IS_EQUAL_TO",
                                                      "IS_NOT_EQUAL_TO",
                                                      "HAS_EVER_BEEN_EQUAL_TO",
                                                      "HAS_NEVER_BEEN_EQUAL_TO"
                                                    ]
                                                  }
                                                }
                                              },
                                              {
                                                "title": "number",
                                                "required": [
                                                  "includeObjectsWithNoValueSet",
                                                  "operationType",
                                                  "operator",
                                                  "operatorName",
                                                  "propertyType",
                                                  "value"
                                                ],
                                                "type": "object",
                                                "properties": {
                                                  "includeObjectsWithNoValueSet": {
                                                    "type": "boolean"
                                                  },
                                                  "defaultValue": {
                                                    "type": "string"
                                                  },
                                                  "propertyType": {
                                                    "type": "string",
                                                    "default": "number",
                                                    "enum": [
                                                      "number"
                                                    ]
                                                  },
                                                  "operationType": {
                                                    "type": "string"
                                                  },
                                                  "value": {
                                                    "type": "number"
                                                  },
                                                  "operatorName": {
                                                    "type": "string"
                                                  },
                                                  "operator": {
                                                    "type": "string",
                                                    "enum": [
                                                      "IS_EQUAL_TO",
                                                      "IS_NOT_EQUAL_TO",
                                                      "IS_GREATER_THAN",
                                                      "IS_GREATER_THAN_OR_EQUAL_TO",
                                                      "IS_LESS_THAN",
                                                      "IS_LESS_THAN_OR_EQUAL_TO",
                                                      "HAS_EVER_BEEN_EQUAL_TO",
                                                      "HAS_NEVER_BEEN_EQUAL_TO"
                                                    ]
                                                  }
                                                }
                                              },
                                              {
                                                "title": "string",
                                                "required": [
                                                  "includeObjectsWithNoValueSet",
                                                  "operationType",
                                                  "operator",
                                                  "operatorName",
                                                  "propertyType",
                                                  "value"
                                                ],
                                                "type": "object",
                                                "properties": {
                                                  "includeObjectsWithNoValueSet": {
                                                    "type": "boolean"
                                                  },
                                                  "defaultValue": {
                                                    "type": "string"
                                                  },
                                                  "propertyType": {
                                                    "type": "string",
                                                    "default": "string",
                                                    "enum": [
                                                      "string"
                                                    ]
                                                  },
                                                  "operationType": {
                                                    "type": "string"
                                                  },
                                                  "value": {
                                                    "type": "string"
                                                  },
                                                  "operatorName": {
                                                    "type": "string"
                                                  },
                                                  "operator": {
                                                    "type": "string",
                                                    "enum": [
                                                      "IS_EQUAL_TO",
                                                      "IS_NOT_EQUAL_TO",
                                                      "CONTAINS",
                                                      "DOES_NOT_CONTAIN",
                                                      "STARTS_WITH",
                                                      "ENDS_WITH",
                                                      "HAS_EVER_BEEN_EQUAL_TO",
                                                      "HAS_NEVER_BEEN_EQUAL_TO",
                                                      "HAS_EVER_CONTAINED",
                                                      "HAS_NEVER_CONTAINED"
                                                    ]
                                                  }
                                                }
                                              },
                                              {
                                                "title": "datetime",
                                                "required": [
                                                  "includeObjectsWithNoValueSet",
                                                  "operationType",
                                                  "operator",
                                                  "operatorName",
                                                  "propertyType",
                                                  "requiresTimeZoneConversion",
                                                  "timestamp"
                                                ],
                                                "type": "object",
                                                "properties": {
                                                  "includeObjectsWithNoValueSet": {
                                                    "type": "boolean"
                                                  },
                                                  "defaultValue": {
                                                    "type": "string"
                                                  },
                                                  "propertyType": {
                                                    "type": "string",
                                                    "default": "datetime",
                                                    "enum": [
                                                      "datetime"
                                                    ]
                                                  },
                                                  "requiresTimeZoneConversion": {
                                                    "type": "boolean"
                                                  },
                                                  "operationType": {
                                                    "type": "string"
                                                  },
                                                  "operatorName": {
                                                    "type": "string"
                                                  },
                                                  "operator": {
                                                    "type": "string",
                                                    "enum": [
                                                      "IS_BEFORE",
                                                      "IS_AFTER",
                                                      "IS_EQUAL_TO",
                                                      "IS_BEFORE_DATE",
                                                      "IS_AFTER_DATE"
                                                    ]
                                                  },
                                                  "timestamp": {
                                                    "type": "integer",
                                                    "format": "int32"
                                                  }
                                                }
                                              },
                                              {
                                                "title": "datetime-ranged",
                                                "required": [
                                                  "includeObjectsWithNoValueSet",
                                                  "lowerBoundTimestamp",
                                                  "operationType",
                                                  "operator",
                                                  "operatorName",
                                                  "propertyType",
                                                  "requiresTimeZoneConversion",
                                                  "upperBoundTimestamp"
                                                ],
                                                "type": "object",
                                                "properties": {
                                                  "lowerBoundTimestamp": {
                                                    "type": "integer",
                                                    "format": "int32"
                                                  },
                                                  "includeObjectsWithNoValueSet": {
                                                    "type": "boolean"
                                                  },
                                                  "defaultValue": {
                                                    "type": "string"
                                                  },
                                                  "propertyType": {
                                                    "type": "string",
                                                    "default": "datetime-ranged",
                                                    "enum": [
                                                      "datetime-ranged"
                                                    ]
                                                  },
                                                  "upperBoundTimestamp": {
                                                    "type": "integer",
                                                    "format": "int32"
                                                  },
                                                  "requiresTimeZoneConversion": {
                                                    "type": "boolean"
                                                  },
                                                  "operationType": {
                                                    "type": "string"
                                                  },
                                                  "operatorName": {
                                                    "type": "string"
                                                  },
                                                  "operator": {
                                                    "type": "string",
                                                    "enum": [
                                                      "IS_BETWEEN",
                                                      "IS_NOT_BETWEEN"
                                                    ]
                                                  }
                                                }
                                              },
                                              {
                                                "title": "datetime-comparative",
                                                "required": [
                                                  "comparisonPropertyName",
                                                  "includeObjectsWithNoValueSet",
                                                  "operationType",
                                                  "operator",
                                                  "operatorName",
                                                  "propertyType"
                                                ],
                                                "type": "object",
                                                "properties": {
                                                  "includeObjectsWithNoValueSet": {
                                                    "type": "boolean"
                                                  },
                                                  "defaultValue": {
                                                    "type": "string"
                                                  },
                                                  "propertyType": {
                                                    "type": "string",
                                                    "default": "datetime-comparative",
                                                    "enum": [
                                                      "datetime-comparative"
                                                    ]
                                                  },
                                                  "defaultComparisonValue": {
                                                    "type": "string"
                                                  },
                                                  "operationType": {
                                                    "type": "string"
                                                  },
                                                  "comparisonPropertyName": {
                                                    "type": "string"
                                                  },
                                                  "operatorName": {
                                                    "type": "string"
                                                  },
                                                  "operator": {
                                                    "type": "string",
                                                    "enum": [
                                                      "IS_BEFORE",
                                                      "IS_AFTER"
                                                    ]
                                                  }
                                                }
                                              },
                                              {
                                                "title": "property-updated-comparative",
                                                "required": [
                                                  "comparisonPropertyName",
                                                  "includeObjectsWithNoValueSet",
                                                  "operationType",
                                                  "operator",
                                                  "operatorName",
                                                  "propertyType"
                                                ],
                                                "type": "object",
                                                "properties": {
                                                  "includeObjectsWithNoValueSet": {
                                                    "type": "boolean"
                                                  },
                                                  "defaultValue": {
                                                    "type": "string"
                                                  },
                                                  "propertyType": {
                                                    "type": "string",
                                                    "default": "property-updated-comparative",
                                                    "enum": [
                                                      "property-updated-comparative"
                                                    ]
                                                  },
                                                  "defaultComparisonValue": {
                                                    "type": "string"
                                                  },
                                                  "operationType": {
                                                    "type": "string"
                                                  },
                                                  "comparisonPropertyName": {
                                                    "type": "string"
                                                  },
                                                  "operatorName": {
                                                    "type": "string"
                                                  },
                                                  "operator": {
                                                    "type": "string",
                                                    "enum": [
                                                      "IS_BEFORE",
                                                      "IS_AFTER"
                                                    ]
                                                  }
                                                }
                                              },
                                              {
                                                "title": "datetime-rolling",
                                                "required": [
                                                  "includeObjectsWithNoValueSet",
                                                  "numberOfDays",
                                                  "operationType",
                                                  "operator",
                                                  "operatorName",
                                                  "propertyType",
                                                  "requiresTimeZoneConversion"
                                                ],
                                                "type": "object",
                                                "properties": {
                                                  "includeObjectsWithNoValueSet": {
                                                    "type": "boolean"
                                                  },
                                                  "defaultValue": {
                                                    "type": "string"
                                                  },
                                                  "propertyType": {
                                                    "type": "string",
                                                    "default": "datetime-rolling",
                                                    "enum": [
                                                      "datetime-rolling"
                                                    ]
                                                  },
                                                  "requiresTimeZoneConversion": {
                                                    "type": "boolean"
                                                  },
                                                  "operationType": {
                                                    "type": "string"
                                                  },
                                                  "numberOfDays": {
                                                    "type": "integer",
                                                    "format": "int32"
                                                  },
                                                  "operatorName": {
                                                    "type": "string"
                                                  },
                                                  "operator": {
                                                    "type": "string",
                                                    "enum": [
                                                      "IS_LESS_THAN_X_DAYS_AGO",
                                                      "IS_MORE_THAN_X_DAYS_AGO",
                                                      "IS_LESS_THAN_X_DAYS_FROM_NOW",
                                                      "IS_MORE_THAN_X_DAYS_FROM_NOW"
                                                    ]
                                                  }
                                                }
                                              },
                                              {
                                                "title": "rolling-property-updated",
                                                "required": [
                                                  "includeObjectsWithNoValueSet",
                                                  "numberOfDays",
                                                  "operationType",
                                                  "operator",
                                                  "operatorName",
                                                  "propertyType"
                                                ],
                                                "type": "object",
                                                "properties": {
                                                  "includeObjectsWithNoValueSet": {
                                                    "type": "boolean"
                                                  },
                                                  "defaultValue": {
                                                    "type": "string"
                                                  },
                                                  "propertyType": {
                                                    "type": "string",
                                                    "default": "rolling-property-updated",
                                                    "enum": [
                                                      "rolling-property-updated"
                                                    ]
                                                  },
                                                  "operationType": {
                                                    "type": "string"
                                                  },
                                                  "numberOfDays": {
                                                    "type": "integer",
                                                    "format": "int32"
                                                  },
                                                  "operatorName": {
                                                    "type": "string"
                                                  },
                                                  "operator": {
                                                    "type": "string",
                                                    "enum": [
                                                      "UPDATED_IN_LAST_X_DAYS",
                                                      "NOT_UPDATED_IN_LAST_X_DAYS"
                                                    ]
                                                  }
                                                }
                                              },
                                              {
                                                "title": "enumeration",
                                                "required": [
                                                  "includeObjectsWithNoValueSet",
                                                  "operationType",
                                                  "operator",
                                                  "operatorName",
                                                  "propertyType",
                                                  "values"
                                                ],
                                                "type": "object",
                                                "properties": {
                                                  "includeObjectsWithNoValueSet": {
                                                    "type": "boolean"
                                                  },
                                                  "defaultValue": {
                                                    "type": "string"
                                                  },
                                                  "propertyType": {
                                                    "type": "string",
                                                    "default": "enumeration",
                                                    "enum": [
                                                      "enumeration"
                                                    ]
                                                  },
                                                  "values": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "operationType": {
                                                    "type": "string"
                                                  },
                                                  "operatorName": {
                                                    "type": "string"
                                                  },
                                                  "operator": {
                                                    "type": "string",
                                                    "enum": [
                                                      "IS_ANY_OF",
                                                      "IS_NONE_OF",
                                                      "IS_EXACTLY",
                                                      "IS_NOT_EXACTLY",
                                                      "CONTAINS_ALL",
                                                      "DOES_NOT_CONTAIN_ALL",
                                                      "HAS_EVER_BEEN_ANY_OF",
                                                      "HAS_NEVER_BEEN_ANY_OF",
                                                      "HAS_EVER_BEEN_EXACTLY",
                                                      "HAS_NEVER_BEEN_EXACTLY",
                                                      "HAS_EVER_CONTAINED_ALL",
                                                      "HAS_NEVER_CONTAINED_ALL"
                                                    ]
                                                  }
                                                }
                                              },
                                              {
                                                "title": "alltypes",
                                                "required": [
                                                  "coalescingRefineBy",
                                                  "includeObjectsWithNoValueSet",
                                                  "operationType",
                                                  "operator",
                                                  "operatorName",
                                                  "propertyType"
                                                ],
                                                "type": "object",
                                                "properties": {
                                                  "coalescingRefineBy": {
                                                    "oneOf": [
                                                      {
                                                        "$ref": "#/components/schemas/NumOccurrencesRefineBy"
                                                      },
                                                      {
                                                        "$ref": "#/components/schemas/SetOccurrencesRefineBy"
                                                      }
                                                    ]
                                                  },
                                                  "includeObjectsWithNoValueSet": {
                                                    "type": "boolean"
                                                  },
                                                  "defaultValue": {
                                                    "type": "string"
                                                  },
                                                  "pruningRefineBy": {
                                                    "oneOf": [
                                                      {
                                                        "$ref": "#/components/schemas/RelativeComparativeTimestampRefineBy"
                                                      },
                                                      {
                                                        "$ref": "#/components/schemas/RelativeRangedTimestampRefineBy"
                                                      },
                                                      {
                                                        "$ref": "#/components/schemas/AbsoluteComparativeTimestampRefineBy"
                                                      },
                                                      {
                                                        "$ref": "#/components/schemas/AbsoluteRangedTimestampRefineBy"
                                                      },
                                                      {
                                                        "$ref": "#/components/schemas/AllHistoryRefineBy"
                                                      },
                                                      {
                                                        "$ref": "#/components/schemas/TimePointOperation"
                                                      },
                                                      {
                                                        "$ref": "#/components/schemas/RangedTimeOperation"
                                                      }
                                                    ]
                                                  },
                                                  "propertyType": {
                                                    "type": "string",
                                                    "default": "alltypes",
                                                    "enum": [
                                                      "alltypes"
                                                    ]
                                                  },
                                                  "operationType": {
                                                    "type": "string"
                                                  },
                                                  "operatorName": {
                                                    "type": "string"
                                                  },
                                                  "operator": {
                                                    "type": "string",
                                                    "enum": [
                                                      "IS_KNOWN",
                                                      "IS_UNKNOWN",
                                                      "IS_BLANK",
                                                      "IS_NOT_BLANK"
                                                    ]
                                                  }
                                                }
                                              },
                                              {
                                                "title": "number-ranged",
                                                "required": [
                                                  "includeObjectsWithNoValueSet",
                                                  "lowerBound",
                                                  "operationType",
                                                  "operator",
                                                  "operatorName",
                                                  "propertyType",
                                                  "upperBound"
                                                ],
                                                "type": "object",
                                                "properties": {
                                                  "includeObjectsWithNoValueSet": {
                                                    "type": "boolean"
                                                  },
                                                  "upperBound": {
                                                    "type": "integer",
                                                    "format": "int32"
                                                  },
                                                  "defaultValue": {
                                                    "type": "string"
                                                  },
                                                  "propertyType": {
                                                    "type": "string",
                                                    "default": "number-ranged",
                                                    "enum": [
                                                      "number-ranged"
                                                    ]
                                                  },
                                                  "lowerBound": {
                                                    "type": "integer",
                                                    "format": "int32"
                                                  },
                                                  "operationType": {
                                                    "type": "string"
                                                  },
                                                  "operatorName": {
                                                    "type": "string"
                                                  },
                                                  "operator": {
                                                    "type": "string",
                                                    "enum": [
                                                      "IS_BETWEEN",
                                                      "IS_NOT_BETWEEN"
                                                    ]
                                                  }
                                                }
                                              },
                                              {
                                                "title": "multistring",
                                                "required": [
                                                  "coalescingRefineBy",
                                                  "includeObjectsWithNoValueSet",
                                                  "operationType",
                                                  "operator",
                                                  "operatorName",
                                                  "propertyType",
                                                  "values"
                                                ],
                                                "type": "object",
                                                "properties": {
                                                  "coalescingRefineBy": {
                                                    "oneOf": [
                                                      {
                                                        "$ref": "#/components/schemas/NumOccurrencesRefineBy"
                                                      },
                                                      {
                                                        "$ref": "#/components/schemas/SetOccurrencesRefineBy"
                                                      }
                                                    ]
                                                  },
                                                  "includeObjectsWithNoValueSet": {
                                                    "type": "boolean"
                                                  },
                                                  "defaultValue": {
                                                    "type": "string"
                                                  },
                                                  "pruningRefineBy": {
                                                    "oneOf": [
                                                      {
                                                        "$ref": "#/components/schemas/RelativeComparativeTimestampRefineBy"
                                                      },
                                                      {
                                                        "$ref": "#/components/schemas/RelativeRangedTimestampRefineBy"
                                                      },
                                                      {
                                                        "$ref": "#/components/schemas/AbsoluteComparativeTimestampRefineBy"
                                                      },
                                                      {
                                                        "$ref": "#/components/schemas/AbsoluteRangedTimestampRefineBy"
                                                      },
                                                      {
                                                        "$ref": "#/components/schemas/AllHistoryRefineBy"
                                                      },
                                                      {
                                                        "$ref": "#/components/schemas/TimePointOperation"
                                                      },
                                                      {
                                                        "$ref": "#/components/schemas/RangedTimeOperation"
                                                      }
                                                    ]
                                                  },
                                                  "propertyType": {
                                                    "type": "string",
                                                    "default": "multistring",
                                                    "enum": [
                                                      "multistring"
                                                    ]
                                                  },
                                                  "values": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "operationType": {
                                                    "type": "string"
                                                  },
                                                  "operatorName": {
                                                    "type": "string"
                                                  },
                                                  "operator": {
                                                    "type": "string",
                                                    "enum": [
                                                      "IS_EQUAL_TO",
                                                      "IS_NOT_EQUAL_TO",
                                                      "CONTAINS",
                                                      "DOES_NOT_CONTAIN",
                                                      "STARTS_WITH",
                                                      "ENDS_WITH"
                                                    ]
                                                  }
                                                }
                                              },
                                              {
                                                "title": "date",
                                                "required": [
                                                  "day",
                                                  "includeObjectsWithNoValueSet",
                                                  "month",
                                                  "operationType",
                                                  "operator",
                                                  "operatorName",
                                                  "propertyType",
                                                  "year"
                                                ],
                                                "type": "object",
                                                "properties": {
                                                  "month": {
                                                    "type": "string",
                                                    "enum": [
                                                      "JAN",
                                                      "FEB",
                                                      "MAR",
                                                      "APR",
                                                      "MAY",
                                                      "JUN",
                                                      "JUL",
                                                      "AUG",
                                                      "SEP",
                                                      "OCT",
                                                      "NOV",
                                                      "DEC"
                                                    ]
                                                  },
                                                  "includeObjectsWithNoValueSet": {
                                                    "type": "boolean"
                                                  },
                                                  "year": {
                                                    "type": "integer",
                                                    "format": "int32"
                                                  },
                                                  "defaultValue": {
                                                    "type": "string"
                                                  },
                                                  "propertyType": {
                                                    "type": "string",
                                                    "default": "date",
                                                    "enum": [
                                                      "date"
                                                    ]
                                                  },
                                                  "operationType": {
                                                    "type": "string"
                                                  },
                                                  "day": {
                                                    "type": "integer",
                                                    "format": "int32"
                                                  },
                                                  "operatorName": {
                                                    "type": "string"
                                                  },
                                                  "operator": {
                                                    "type": "string",
                                                    "enum": [
                                                      "EQUAL",
                                                      "BEFORE",
                                                      "AFTER"
                                                    ]
                                                  }
                                                }
                                              },
                                              {
                                                "title": "calendar-date",
                                                "required": [
                                                  "includeObjectsWithNoValueSet",
                                                  "operationType",
                                                  "operator",
                                                  "operatorName",
                                                  "propertyType",
                                                  "timeUnit",
                                                  "timeUnitCount",
                                                  "useFiscalYear"
[...]
